@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff),
      url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Light.woff), url(../fonts/Montserrat-Light.ttf);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.woff), url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff),
      url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FilmP3';
    src: url(../fonts/FilmP3Bold.woff), url(../fonts/FilmP3Bold.ttf);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TimesNewRoman';
    src: url(../fonts/TimesNewRomanPSMT.woff), url(../fonts/TimesNewRomanPSMT.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TimesNewRoman';
    src: url(../fonts/TimesNewRomanPS-BoldMT.woff),
      url(../fonts/TimesNewRomanPS-BoldMT.ttf);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  