@font-face {
    font-family: 'Film P3';
    src: local('Film P3 Regular'), local('Film-P3-Regular'),
        url('/src/fonts/FilmP3.woff2') format('woff2'),
        url('/src/fonts/FilmP3.woff') format('woff'),
        url('/src/fonts/FilmP3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    // src: url('Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/src/fonts/Montserrat-Regular.eot') format('embedded-opentype'),
        url('/src/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/src/fonts/Montserrat-Regular.woff') format('woff'),
        url('/src/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    // src: url('TimesNewRomanMTStd.eot');
    src: local('Times New Roman MT Std Regular'), local('TimesNewRomanMTStd'),
        url('/src/fonts/TimesNewRomanMTStd.eot') format('embedded-opentype'),
        url('/src/fonts/TimesNewRomanMTStd.woff2') format('woff2'),
        url('/src/fonts/TimesNewRomanMTStd.woff') format('woff'),
        url('/src/fonts/TimesNewRomanMTStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}