@mixin font($weight, $size, $height, $spacing) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin calc($gap, $count) {
  flex-basis: calc((100% - $gap * ($count - 1)) / $count);
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
