// Те, що закоментовано, поки не використовувати, 9.12 до 00:00 будуть готові

// Загальні
$mobile: 414px;
$tablet: 1024px;
$desktop: 1280px;
$times-font: 'TimesNewRoman', 'sans-serif';
$montserrat-font: 'Montserrat', 'sans-serif';
$film-font: 'FilmP3', 'sans-serif';
$accent-color: #f3c653;

// колір логотип
$color-subtitle: #b4b4b4;
$color-logo-gray: #828282;
$color-logo-dark: #494848;
$color-logo-light: #ffffff;

// header
$color-title-light: #ffffff;
$color-text-links: #f3c653;
$color-text-address: #e5e5e5;
$color-gradient: rgba(0, 0, 0, 0.65);

// page main and restaurant
$color-text-about: #5f5f5f;
$color-text-about_2: #c79002;
$color-text-details: #bababa;
$color-text-contacts: #828282;
$color-text-tips: #c79002;
$color-text-tabl: #000000;

$color-shadow: rgba(0, 0, 0, 0.25);
$background-main-light: #fffdee;
$background-main-gray: #f0ecd6;

// page hotel and room
$color-title-dark: #000000;
$color-text-room_hotel: #7a7a7a;

// footer
$background-color-footer: #0e0c07;

// modal
$color-modal-text: #808080;
$color-modal-tips: #c79002;
$color-modal-title: #000000;

// button
$backrground-btn-light: rgba(0, 0, 0, 0.4);
$backrground-btn-dark: #000000;
$backrground-hover-light: #ffffff;
$border-light-color: #ffffff;
$border-dark-color: #fffdee;
$big-btn-text-color: #ffffff;
$big-btn-hover-color: #000000;
