// Те, що закоментовано, поки не використовувати, 9.12 до 00:00 будуть готові

// Загальні
$phone: 414px;
$tablet: 1024px;
$desktop: 1280px;
$times-font: 'TimesNewRoman', 'sans-serif';
$montserrat-font: 'Montserrat', 'sans-serif';
$film-font: 'FilmP3', 'sans-serif';
$accent-color: #f3c653;

// $white: #ffffff;
// $black: #000000;
// $header-logo-color: #fffdee;
// $background-light-lemon: #fffdee;
// $background-dark-lemon: #f0ecd6;

// $main-text-color: #5f5f5f;
// $brown-text-color: #c79002;
// $menu-text-color: #7a7a7a;

// Ці дві властивості об'єднані у placeholder
// $main-transition-duration: 250ms;
// $main-transtition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// $contact-text-color: #494848;
// $picture-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
// $picture-border: 1px solid #bababa;

// $title-color-for-dark-bg: #ffffff;
// $logo-color-for-dark-bg: #ffffff;
// $text-color-for-dark-bg: #bababa;
// $accent-color: #f3c653;
// $outline: 1px solid tomato;
// $dark-bg-section: rgba(0, 0, 0, 0.65);
// $hover-bgcolor-small-btn: #ffffff;
