<section class="about-section about-section--reverse section">
      <div class="about container">
        <!-- логотип та підзаголовок -->
        <h2 class="visually-hidden">About hotel</h2>
        <p class="subtitle about__subtitle about__subtitle--reverse">
          Amet minim mollit non
        </p>
        <p class="about__logo logo about-home about__logo--reverse">Mimiho</p>

        <!-- послідовніст картинок та тексту -->
        <ul class="list about-list reverse">
          <li class="about-item reverse">
            <p class="about-text reverse">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="about-img first">
              <picture>
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/main-page/jpg/jpg-apartment-dt.jpg    1x,
                    ./images/main-page/jpg/jpg-apartment-dt_2x.jpg 2x
                  "
                  sizes="460px"
                />
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/main-page/jpg/jpg-apartment-dt.webp    1x,
                    ./images/main-page/jpg/jpg-apartment-dt_2x.webp 2x
                  "
                  type="image/webp"
                  sizes="460px"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/main-page/jpg/jpg-apartment-tab.jpg    1x,
                    ./images/main-page/jpg/jpg-apartment-tab_2x.jpg 2x
                  "
                  sizes="400px"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/main-page/jpg/jpg-apartment-tab.webp    1x,
                    ./images/main-page/jpg/jpg-apartment-tab_2x.webp 2x
                  "
                  type="image/webp"
                  sizes="400px"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/main-page/jpg/jpg-apartment-mob.jpg    1x,
                    ./images/main-page/jpg/jpg-apartment-mob_2x.jpg 2x
                  "
                  sizes="244px"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/main-page/jpg/jpg-apartment-mob.jpg    1x,
                    ./images/main-page/jpg/jpg-apartment-mob_2x.jpg 2x
                  "
                  type="image/webp"
                  sizes="244px"
                />
                <img
                  src="./images/main-page/jpg/jpg-apartment-mob.jpg"
                  alt="restaurant-interior one"
                  width="100%"
                />
              </picture>
            </div>
          </li>

          <li class="about-item reverse">
            <p class="about-text about-text--gold">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="about-img last">
              <picture>
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/main-page/jpg/jpg-hotel-dt.jpg    1x,
                    ./images/main-page/jpg/jpg-hotel-dt_2x.jpg 2x
                  "
                  sizes="460px"
                />
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/main-page/jpg/jpg-hotel-dt.webp    1x,
                    ./images/main-page/jpg/jpg-hotel-dt_2x.webp 2x
                  "
                  type="image/webp"
                  sizes="460px"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/main-page/jpg/jpg-hotel-tab.jpg    1x,
                    ./images/main-page/jpg/jpg-hotel-tab_2x.jpg 2x
                  "
                  sizes="350px"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/main-page/jpg/jpg-hotel-tab.webp    1x,
                    ./images/main-page/jpg/jpg-hotel-tab_2x.webp 2x
                  "
                  type="image/webp"
                  sizes="350px"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/main-page/jpg/jpg-hotel-mob.jpg    1x,
                    ./images/main-page/jpg/jpg-hotel-mob_2x.jpg 2x
                  "
                  sizes="200px"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/main-page/jpg/jpg-hotel-mob.jpg    1x,
                    ./images/main-page/jpg/jpg-hotel-mob_2x.jpg 2x
                  "
                  type="image/webp"
                  sizes="200px"
                />
                <img
                  src="./images/main-page/jpg/jpg-hotel-mob.jpg"
                  alt="restaurant-interior one"
                  width="100%"
                />
              </picture>
            </div>
          </li>
        </ul>
        <!------------------- сліп ------------------->
     <div class="slick-blok-reverse">
        <div class="slick-about">
          <div class="slick-about__item">
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/section-sliders/desktop/img-17-dt.jpg        1x,
                  ./images/section-sliders/desktop/img-17-dt_2x.jpg 2x
                "
                sizes="245px"
              />
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/section-sliders/desktop/img-17-dt.webp    1x,
                  ./images/section-sliders/desktop/img-17-dt_2x.webp 2x
                "
                type="image/webp"
                sizes="245px"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/section-sliders/tab/img-17-tab.jpg    1x,
                  ./images/section-sliders/tab/img-17-tab_2x.jpg 2x
                "
                sizes="194px"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/section-sliders/tab/img-17-tab.webp    1x,
                  ./images/section-sliders/tab/img-17-tab_2x.webp 2x
                "
                type="image/webp"
                sizes="194px"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/section-sliders/mob/img-17-mob.jpg     1x,
                  ./images/section-sliders/mob/img-17-mob_2x.webp 2x
                "
                sizes="245px"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/section-sliders/mob/img-17-mob.jpg     1x,
                  ./images/section-sliders/mob/img-17-mob_2x.webp 2x
                "
                type="image/webp"
                sizes="245px"
              />
              <img
                src="./images/section-sliders/mob/img-17-mob.jpg"
                alt="table setting with groceries"
              />
            </picture>
          </div>
          <div class="slick-about__item">
            <img
              src="./images/section-sliders/mob/img-18-mob.jpg"
              alt="table setting with dishes"
              width="100%"
            />
          </div>
          <div class="slick-about__item">
            <img
              src="./images/section-sliders/mob/img-9-mob.jpeg"
              alt="breakfast"
              width="100%"
            />
          </div>
          <div class="slick-about__item">
            <img
              src="./images/section-sliders/mob/img-7-mob.jpeg"
              alt="seafood dishes"
              width="100%"
            />
          </div>
          <div class="slick-about__item">
            <img
              src="./images/section-sliders/mob/img-5-mob.jpeg"
              alt=""
              width="100%"
            />
          </div>
        </div>
      </div>
</section>