<section class="about-section about-section--reverse section">
  <div class="about container">
    <!-- логотип та підзаголовок -->
    <h2 class="visually-hidden">About hotel</h2>
    <p class="subtitle about__subtitle about__subtitle--reverse">
      Amet minim mollit non
    </p>
    <p class="about__logo logo about-home about__logo--reverse">Mimiho</p>

    <!-- послідовніст картинок та тексту -->
    <ul class="list about-list reverse">
      <li class="about-item reverse">
        <p class="about-text reverse">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="about-img first">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/main-page/jpg/jpg-apartment-dt.jpg    1x,
                ./images/main-page/jpg/jpg-apartment-dt_2x.jpg 2x
              "
              sizes="460px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/main-page/jpg/jpg-apartment-dt.webp    1x,
                ./images/main-page/jpg/jpg-apartment-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="460px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/jpg/jpg-apartment-tab.jpg    1x,
                ./images/main-page/jpg/jpg-apartment-tab_2x.jpg 2x
              "
              sizes="400px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/jpg/jpg-apartment-tab.webp    1x,
                ./images/main-page/jpg/jpg-apartment-tab_2x.webp 2x
              "
              type="image/webp"
              sizes="400px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/main-page/jpg/jpg-apartment-mob.jpg    1x,
                ./images/main-page/jpg/jpg-apartment-mob_2x.jpg 2x
              "
              sizes="244px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/main-page/jpg/jpg-apartment-mob.webp    1x,
                ./images/main-page/jpg/jpg-apartment-mob_2x.webp 2x
              "
              type="image/webp"
              sizes="244px"
            />
            <img
              src="./images/main-page/jpg/jpg-apartment-mob.jpg"
              alt="restaurant-interior one"
              width="100%"
            />
          </picture>
        </div>
      </li>

      <li class="about-item reverse">
        <p class="about-text about-text--gold">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="about-img last">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/main-page/jpg/jpg-hotel-dt.jpg    1x,
                ./images/main-page/jpg/jpg-hotel-dt_2x.jpg 2x
              "
              sizes="460px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/main-page/jpg/jpg-hotel-dt.webp    1x,
                ./images/main-page/jpg/jpg-hotel-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="460px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/jpg/jpg-hotel-tab.jpg    1x,
                ./images/main-page/jpg/jpg-hotel-tab_2x.jpg 2x
              "
              sizes="350px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/jpg/jpg-hotel-tab.webp    1x,
                ./images/main-page/jpg/jpg-hotel-tab_2x.webp 2x
              "
              type="image/webp"
              sizes="350px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/main-page/jpg/jpg-hotel-mob.jpg    1x,
                ./images/main-page/jpg/jpg-hotel-mob_2x.jpg 2x
              "
              sizes="200px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/main-page/jpg/jpg-hotel-mob.webp    1x,
                ./images/main-page/jpg/jpg-hotel-mob_2x.webp 2x
              "
              type="image/webp"
              sizes="200px"
            />
            <img
              src="./images/main-page/jpg/jpg-hotel-mob.jpg"
              alt="restaurant-interior one"
              width="100%"
            />
          </picture>
        </div>
      </li>
    </ul>
    <!------------------- сліп ------------------->
    <div class="slick-blok-reverse">
      <div class="slick-about">
        <div class="slick-about__item">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-20-dt.jpg    1x,
                ./images/section-sliders/desktop/img-20-dt_2x.jpg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-20-dt.webp    1x,
                ./images/section-sliders/desktop/img-20-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-20-tab.jpg    1x,
                ./images/section-sliders/tab/img-20-tab_2x.jpg 2x
              "
              sizes="194px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-20-tab.webp    1x,
                ./images/section-sliders/tab/img-20-tab_2x.webp 2x
              "
              type="image/webp"
              sizes="194px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-20-mob.jpg    1x,
                ./images/section-sliders/mob/img-20-mob_2x.jpg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-20-mob.webp    1x,
                ./images/section-sliders/mob/img-20-mob_2x.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <img
              src="./images/section-sliders/mob/img-20-mob.jpg"
              alt="white towels"
              width="100%"
            />
          </picture>
        </div>
        <div class="slick-about__item">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-19-dt.jpg    1x,
                ./images/section-sliders/desktop/img-19-dt_2x.jpg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-19-dt.webp    1x,
                ./images/section-sliders/desktop/img-19-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-19-tab.jpg    1x,
                ./images/section-sliders/tab/img-19-tab_2x.jpg 2x
              "
              sizes="194px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-19-tab.webp    1x,
                ./images/section-sliders/tab/img-19-tab_2x.webp 2x
              "
              type="image/webp"
              sizes="194px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-19-mob.jpg    1x,
                ./images/section-sliders/mob/img-19-mob_2x.jpg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-19-mob.webp    1x,
                ./images/section-sliders/mob/img-19-mob_2x.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <img
              src="./images/section-sliders/mob/img-19-mob.jpg"
              alt="Hotel reception"
              width="100%"
            />
          </picture>
        </div>
        <div class="slick-about__item">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-14-dt.jpg    1x,
                ./images/section-sliders/desktop/img-14-dt_2σ.jpg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-14-dt.webp    1x,
                ./images/section-sliders/desktop/img-14-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-14-tab.jpeg    1x,
                ./images/section-sliders/tab/img-14-tab_2σ.jpeg 2x
              "
              sizes="194px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-14-tab.webp    1x,
                ./images/section-sliders/tab/img-14-tab_2σ.webp 2x
              "
              type="image/webp"
              sizes="194px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-14-mob.jpeg    1x,
                ./images/section-sliders/mob/img-14-mob_2σ.jpeg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-14-mob.webp    1x,
                ./images/section-sliders/mob/img-14-mob_2σ.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <img
              src="./images/section-sliders/mob/img-14-mob.jpeg"
              alt="reception services"
              width="100%"
            />
          </picture>
        </div>
        <div class="slick-about__item">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-10-dt.jpg    1x,
                ./images/section-sliders/desktop/img-10-dt_2σ.jpg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-10-dt.webp    1x,
                ./images/section-sliders/desktop/img-10-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-10-tab.jpeg    1x,
                ./images/section-sliders/tab/img-10-tab_2σ.jpeg 2x
              "
              sizes="194px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-10-tab.webp    1x,
                ./images/section-sliders/tab/img-10-tab_2σ.webp 2x
              "
              type="image/webp"
              sizes="194px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-10-mob.jpeg    1x,
                ./images/section-sliders/mob/img-10-mob_2σ.jpeg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-10-mob.webp    1x,
                ./images/section-sliders/mob/img-10-mob_2σ.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <img
              src="./images/section-sliders/mob/img-10-mob.jpeg"
              alt="white towels with cream"
              width="100%"
            />
          </picture>
        </div>
        <div class="slick-about__item">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-11-dt.jpg    1x,
                ./images/section-sliders/desktop/img-11-dt_2х.jpg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/section-sliders/desktop/img-11-dt.webp    1x,
                ./images/section-sliders/desktop/img-11-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-11-tab.jpeg    1x,
                ./images/section-sliders/tab/img-11-tab_2σ.jpeg 2x
              "
              sizes="194px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/section-sliders/tab/img-11-tab.webp    1x,
                ./images/section-sliders/tab/img-11-tab_2σ.webp 2x
              "
              type="image/webp"
              sizes="194px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-11-mob.jpeg    1x,
                ./images/section-sliders/mob/img-11-mob_2σ.jpeg 2x
              "
              sizes="245px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/section-sliders/mob/img-11-mob.webp    1x,
                ./images/section-sliders/mob/img-11-mob_2х.webp 2x
              "
              type="image/webp"
              sizes="245px"
            />
            <img
              src="./images/section-sliders/mob/img-11-mob.jpeg"
              alt=" lobby"
              width="100%"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
