<section class="about-section section">
  <div class="about container">
    <!-- логотип та підзаголовок -->
    <h2 class="visually-hidden">About restaurant</h2>
    <p class="subtitle about__subtitle">Amet minim mollit non</p>
    <p class="about__logo logo about-home">Mimiho</p>

    <!-- послідовніст картинок та тексту -->
    <ul class="list about-list">
      <li class="about-item">
        <p class="about-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="about-img first">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/main-page/jpg/jpg-restaurant-dt.jpg    1x,
                ./images/main-page/jpg/jpg-restaurant-dt_2x.jpg 2x
              "
              sizes="460px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/main-page/jpg/jpg-restaurant-dt.webp    1x,
                ./images/main-page/jpg/jpg-restaurant-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="460px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/jpg/jpg-restaurant-tab.jpg    1x,
                ./images/main-page/jpg/jpg-restaurant-tab_2x.jpg 2x
              "
              sizes="400px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/jpg/jpg-restaurant-tab.webp    1x,
                ./images/main-page/jpg/jpg-restaurant-tab_2x.webp 2x
              "
              type="image/webp"
              sizes="400px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/main-page/jpg/jpg-restaurant-mob.jpg    1x,
                ./images/main-page/jpg/jpg-restaurant-mob_2x.jpg 2x
              "
              sizes="244px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/main-page/jpg/jpg-restaurant-mob.jpg    1x,
                ./images/main-page/jpg/jpg-restaurant-mob_2x.jpg 2x
              "
              type="image/webp"
              sizes="244px"
            />
            <img
              src="./images/main-page/jpg/jpg-restaurant-mob.jpg"
              alt="restaurant-interior one"
              width="100%"
            />
          </picture>
        </div>
      </li>

      <li class="about-item">
        <p class="about-text about-text--gold">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="about-img last">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/main-page/jpg/jpg-hall-dt.jpg    1x,
                ./images/main-page/jpg/jpg-hall-dt_2x.jpg 2x
              "
              sizes="460px"
            />
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/main-page/jpg/jpg-hall-dt.webp    1x,
                ./images/main-page/jpg/jpg-hall-dt_2x.webp 2x
              "
              type="image/webp"
              sizes="460px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/jpg/jpg-hall-tab.jpg    1x,
                ./images/main-page/jpg/jpg-hall-tab_2x.jpg 2x
              "
              sizes="350px"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/jpg/jpg-hall-tab.webp    1x,
                ./images/main-page/jpg/jpg-hall-tab_2x.webp 2x
              "
              type="image/webp"
              sizes="350px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/main-page/jpg/jpg-hall-mob.jpg    1x,
                ./images/main-page/jpg/jpg-hall-mob_2x.jpg 2x
              "
              sizes="200px"
            />
            <source
              media="(min-width: 414px)"
              srcset="
                ./images/main-page/jpg/jpg-hall-mob.jpg    1x,
                ./images/main-page/jpg/jpg-hall-mob_2x.jpg 2x
              "
              type="image/webp"
              sizes="200px"
            />
            <img
              src="./images/main-page/jpg/jpg-hall-mob.jpg"
              alt="restaurant-interior one"
              width="100%"
            />
          </picture>
        </div>
      </li>
    </ul>
    <!------------------- сліп ------------------->
    <div class="slick-blok">
    <div class="slick-about">
      <div class="slick-about__item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/section-sliders/desktop/img-17-dt.jpg    1x,
              ./images/section-sliders/desktop/img-17-dt_2x.jpg 2x
            "
            sizes="245px"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/section-sliders/desktop/img-17-dt.webp    1x,
              ./images/section-sliders/desktop/img-17-dt_2x.webp 2x
            "
            type="image/webp"
            sizes="245px"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/section-sliders/tab/img-17-tab.jpg    1x,
              ./images/section-sliders/tab/img-17-tab_2x.jpg 2x
            "
            sizes="194px"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/section-sliders/tab/img-17-tab.webp    1x,
              ./images/section-sliders/tab/img-17-tab_2x.webp 2x
            "
            type="image/webp"
            sizes="194px"
          />
          <source
            media="(min-width: 414px)"
            srcset="
              ./images/section-sliders/mob/img-17-mob.jpg     1x,
              ./images/section-sliders/mob/img-17-mob_2x.webp 2x
            "
            sizes="245px"
          />
          <source
            media="(min-width: 414px)"
            srcset="
              ./images/section-sliders/mob/img-17-mob.jpg     1x,
              ./images/section-sliders/mob/img-17-mob_2x.webp 2x
            "
            type="image/webp"
            sizes="245px"
          />
          <img
            src="./images/section-sliders/mob/img-17-mob.jpg"
            alt="table setting with groceries"
          />
        </picture>
      </div>
      <div class="slick-about__item">
        <img
          src="./images/section-sliders/mob/img-18-mob.jpg"
          alt="table setting with dishes"
          width="100%"
        />
      </div>
      <div class="slick-about__item">
        <img
          src="./images/section-sliders/mob/img-9-mob.jpeg"
          alt="breakfast"
          width="100%"
        />
      </div>
      <div class="slick-about__item">
        <img
          src="./images/section-sliders/mob/img-7-mob.jpeg"
          alt="seafood dishes"
          width="100%"
        />
      </div>
      <div class="slick-about__item">
        <img
          src="./images/section-sliders/mob/img-5-mob.jpeg"
          alt=""
          width="100%"
        />
      </div>
    </div>
  </div>
</section>
