<section class="contacts">
  <div class="contacts__content container">
    <h2 class="visually-hidden">Контакти</h2>
    <div class="mimino-container">
      <p class="logo contacts__logo">Mimiho</p>
      <h3 class="contacts__title">Ресторанно-готельний комплекс</h3>
      <address class="mimino-address">
        <ul class="mimino-address__list list">
          <li class="mimino-address__item">
            <p class="mimino-address__title rest-title">Ресторан</p>
            <a href="tel:+380955559533" class="mimino-address__link link">
              <svg class="mimino-address__icon" width="24" height="24">
                <use href="./images/icon.svg#icon-phone"></use>
              </svg>
              095 555 95 33</a
            >
          </li>

          <li class="mimino-address__item">
            <p class="mimino-address__title hotel-title">Готель</p>
            <div class="tel-container">
              <a href="tel:+380668491089" class="mimino-address__link link">
                <svg class="mimino-address__icon" width="24" height="24">
                  <use href="./images/icon.svg#icon-phone"></use></svg
                >066 849 10 89</a
              >
              <a href="tel:+380672758540" class="mimino-address__link link">
                067 275 85 40</a
              >
            </div>
          </li>

          <li class="mimino-address__item">
            <p class="mimino-address__title visually-hidden">Адреса</p>
            <a
              class="mimino-address__link mimino-address__link--address link"
              href="https://goo.gl/maps/ithtjKm9xKE7jttB6"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="mimino-address__icon" width="24" height="24">
                <use href="./images/icon.svg#icon-point"></use>
              </svg>
              Україна, м. Полтава, <br />
              вул. Маршала Бірюзова, 15</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="map-responsive">
      <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24120.67286700969!2d34.53313959079422!3d49.59596634505651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1670841030505!5m2!1suk!2sua"
        width="634"
        height="412"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
