<section class="contacts">
  <div class="contacts__content container">
    <h2 class="visually-hidden">Контакти</h2>
    <div class="mimino-container">
      <p class="logo section-logo">Mimiho</p>
      <h3 class="contacts__title">Ресторанно-готельний комплекс</h3>
      <address class="mimino-address">
        <ul class="mimino-address__list list">
          <li class="mimino-address__item mimino-address__item--restaraunt">
            <h4 class="mimino-address__title">Ресторан</h4>
            <a href="tel:+380955559533" class="mimino-address__link link">
              <svg class="mimino-address__icon" width="24" height="24">
                <use href="/src/images/icon.svg#icon-phone"></use>
              </svg>
              095 555 95 33</a
            >
          </li>

          <li class="mimino-address__item mimino-address__item--hotel">
            <h4 class="mimino-address__title">Готель</h4>
            <div class="tel-container">
              <a
                href="tel:+380668491089"
                class="mimino-address__link mimino-address__link--br link"
              >
                <svg class="mimino-address__icon" width="24" height="24">
                  <use href="/src/images/icon.svg#icon-phone"></use></svg
                >066 849 10 89</a
              >
              <a
                href="tel:+380672758540"
                class="mimino-address__link mimino-address__link--br link"
              >
                067 275 85 40</a
              >
            </div>
          </li>

          <li class="mimino-address__item">
            <h4 class="mimino-address__title visually-hidden">Адреса</h4>
            <a
              class="mimino-address__link mimino-address__link--address"
              href="https://goo.gl/maps/ithtjKm9xKE7jttB6"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="mimino-address__icon" width="24" height="24">
                <use href="/src/images/icon.svg#icon-point"></use>
              </svg>
              Україна, м. Полтава, <br />
              вул. Маршала Бірюзова, 15</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="map-responsive">
      <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3121.2858725430574!2d34.5238059158573!3d49.59926395620809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e1!3m2!1suk!2sua!4v1670658149117!5m2!1suk!2sua"
        width="634"
        height="412"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
