<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Контакти</h2>
    <p class="logo section-logo">Mimiho</p>
    <h3>Ресторанно-готельний комплекс</h3>
    <address class="mimino-address">
      <ul class="mimino-address__list list">
        <li class="mimino-address__item">
          <h4 class="mimino-address__title">Ресторан</h4>
          <a href="tel:+380955559533" class="mimino-address__link link">
            <svg>
              <use></use>
            </svg>
            095 555 95 33</a
          >
        </li>
        <li class="mimino-address__item">
          <h4 class="mimino-address__title">Готель</h4>
          <a href="tel:+380668491089" class="mimino-address__link link">
            <svg>
              <use></use></svg
            >066 849 10 89</a
          >
          <a href="tel:+380672758540" class="mimino-address__link link">
            067 275 85 40</a
          >
        </li>
        <li class="mimino-address__item">
          <a
            class="mimino-address__link"
            href="https://goo.gl/maps/ithtjKm9xKE7jttB6"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg>
              <use></use>
            </svg>
            Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
          >
        </li>
      </ul>
    </address>

    <!-- !Розмітка під картинку мапи, поки зображення в роботі -->
    <!-- <picture>
      <source
        srcset="
          ./images/main-page/map-desktop-1x.jpg 1x,
          ./images/main-page/map-desktop-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/main-page/map-tablet-1x.jpg 1x,
          ./images/main-page/map-tablet-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/main-page/map-mobile-1x.jpg 1x,
          ./images/main-page/map-mobile-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="contacts__img"
        src="./images/main-page/map-1x.jpg"
        width="801"
        alt="Міміно на карті"
      />
    </picture> -->
  </div>
</section>
