<section class="details-restaurant section">
  <div class="container">
    <div class="details-restaurant__desc desc">
      <p class="desc__logo">Mimiho</p>
      <h2 class="desc__title">Ресторан</h2>
      <p class="desc__lead">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="interactiv-wrap">
      <div class="slider-wrap">
        <div class="slider slide-right">
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/mob/img-25-mob.webp    1x,
                  ./images/section-sliders/mob/img-25-mob_2x.webp 2x
                "
                type="image/webp"
              />

              <img
                src="./images/section-sliders/mob/img-25-mob.jpg"
                alt="Стейк рібай"
                height="270"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/mob/img-26-mob.webp    1x,
                  ./images/section-sliders/mob/img-26-mob_2x.webp 2x
                "
                type="image/webp"
              />
              <img
                src="./images/section-sliders/mob/img-26-mob.jpg"
                alt="Хачапурі"
                height="270"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/mob/img-27-mob.webp    1x,
                  ./images/section-sliders/mob/img-27-mob_2x.webp 2x
                "
                type="image/webp"
              />
              <img
                src="./images/section-sliders/mob/img-27-mob.jpg"
                alt="Салат"
                height="270"
              />
            </picture>
          </div>
        </div>
        <div class="slider__arrows"></div>
      </div>
      <div class="btn-wrap">
        <button class="btn reserv-table" type="button">
          Забронювати столик
        </button>
        <a class="link-btn link view-menu" href="#">Переглянути меню</a>
      </div>
    </div>
  </div>
</section>
