<section class="details-hotel section">
  <div class="container">
    <div class="details-hotel__desc desc">
      <p class="desc__logo">Mimiho</p>
      <h2 class="desc__title">Готель</h2>
      <p class="desc__lead text-align">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="interactiv-wrap">
      <div class="slider-wrap">
        <div class="slider-left">
          <div class="slider-left__item">
            <img src="./images/section-sliders/mob/img-28-mob.jpg" alt="" />
          </div>
          <div class="slider__item">
            <img src="./images/section-sliders/mob/img-29-mob.jpg" alt="" />
          </div>
          <div class="slider__item">
            <img src="./images/section-sliders/mob/img-30-mob.jpg" alt="" />
          </div>
        </div>
        <div class="slider-left__arrows"></div>
      </div>
      <div class="btn-wrap">
        <button class="btn reserv-room" type="button">Забронювати номер</button>
        <a class="btn view-price" href="#">Переглянути ціни</a>
      </div>
    </div>
  </div>
</section>
