<section class="details-hotel section">
  <div class="container">
    <div class="details-hotel__desc desc">
      <p class="desc__logo">Mimiho</p>
      <h2 class="desc__title">Готель</h2>
      <p class="desc__lead text-align">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="interactiv-wrap">
      <div class="slider-wrap">
        <div class="slider-left">
          <div class="slider-left__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/desktop/img-28-dt.webp    1x,
                  ./images/section-sliders/desktop/img-28-dt_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/desktop/img-28-dt.jpg    1x,
                  ./images/section-sliders/desktop/img-28-dt_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-28-tab.webp    1x,
                  ./images/section-sliders/tab/img-28-tab_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-28-tab.jpg    1x,
                  ./images/section-sliders/tab/img-28-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-28-mob.webp    1x,
                  ./images/section-sliders/mob/img-28-mob_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-28-mob.jpg    1x,
                  ./images/section-sliders/mob/img-28-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />

              <img
                src="./images/section-sliders/desktop/img-28-dt.jpg"
                alt="Стейк рібай"
                height="270"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/desktop/img-29-dt.webp    1x,
                  ./images/section-sliders/desktop/img-29-dt_2х.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/desktop/img-29-dt.jpg    1x,
                  ./images/section-sliders/desktop/img-29-dt_2х.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-29-tab.webp    1x,
                  ./images/section-sliders/tab/img-29-tab_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-29-tab.jpg    1x,
                  ./images/section-sliders/tab/img-29-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-29-mob.webp    1x,
                  ./images/section-sliders/mob/img-29-mob_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-29-mob.jpg    1x,
                  ./images/section-sliders/mob/img-29-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />

              <img
                src="./images/section-sliders/desktop/img-29-dt.jpg"
                alt="Стейк рібай"
                height="270"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/desktop/img-30-dt.webp    1x,
                  ./images/section-sliders/desktop/img-30-dt_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/desktop/img-30-dt.jpg    1x,
                  ./images/section-sliders/desktop/img-30-dt_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-30-tab.webp    1x,
                  ./images/section-sliders/tab/img-30-tab_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-30-tab.jpg    1x,
                  ./images/section-sliders/tab/img-30-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-30-mob.webp    1x,
                  ./images/section-sliders/mob/img-30-mob_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-30-mob.jpg    1x,
                  ./images/section-sliders/mob/img-30-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />

              <img
                src="./images/section-sliders/desktop/img-30-dt.jpg"
                alt="Стейк рібай"
                height="270"
              />
            </picture>
          </div>
        </div>
        <div class="slider-left__arrows"></div>
      </div>
      <div class="btn-wrap">
        <button class="btn reserv-room" type="button" data-modal-open-room>Забронювати номер</button>
        <a class="link-btn link view-price" href="./hotel.html"
          >Переглянути ціни</a
        >
      </div>
    </div>
  </div>
</section>
