<section class="details-restaurant section">
  <div class="container">
    <div class="details-restaurant__desc desc">
      <p class="desc__logo">Mimiho</p>
      <h2 class="desc__title">Ресторан</h2>
      <p class="desc__lead">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="interactiv-wrap">
      <div class="slider-wrap">
        <div class="slider slide-right">
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/desktop/img-25-dt.webp    1x,
                  ./images/section-sliders/desktop/img-25-dt_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/desktop/img-25-dt.jpg    1x,
                  ./images/section-sliders/desktop/img-25-dt_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-25-tab.webp    1x,
                  ./images/section-sliders/tab/img-25-tab_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-25-tab.jpg    1x,
                  ./images/section-sliders/tab/img-25-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-25-mob.webp    1x,
                  ./images/section-sliders/mob/img-25-mob_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-25-mob.jpg    1x,
                  ./images/section-sliders/mob/img-25-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />

              <img
                src="./images/section-sliders/desktop/img-25-dt.jpg"
                alt="Стейк рібай"
                height="270"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/desktop/img-26-dt.webp    1x,
                  ./images/section-sliders/desktop/img-26-dt_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/desktop/img-26-dt.jpg    1x,
                  ./images/section-sliders/desktop/img-26-dt_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-26-tab.webp    1x,
                  ./images/section-sliders/tab/img-26-tab_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-26-tab.jpg    1x,
                  ./images/section-sliders/tab/img-26-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-26-mob.webp    1x,
                  ./images/section-sliders/mob/img-26-mob_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-26-mob.jpg    1x,
                  ./images/section-sliders/mob/img-26-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />

              <img
                src="./images/section-sliders/desktop/img-26-dt.jpg"
                alt="Стейк рібай"
                height="270"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/section-sliders/desktop/img-27-dt.webp    1x,
                  ./images/section-sliders/desktop/img-27-dt_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/desktop/img-27-dt.jpg    1x,
                  ./images/section-sliders/desktop/img-27-dt_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-27-tab.webp    1x,
                  ./images/section-sliders/tab/img-27-tab_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/tab/img-27-tab.jpg    1x,
                  ./images/section-sliders/tab/img-27-tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-27-mob.webp    1x,
                  ./images/section-sliders/mob/img-27-mob_2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./images/section-sliders/mob/img-27-mob.jpg    1x,
                  ./images/section-sliders/mob/img-27-mob_2x.jpg 2x
                "
                media="(min-width: 414px)"
              />

              <img
                src="./images/section-sliders/desktop/img-27-dt.jpg"
                alt="Стейк рібай"
                height="270"
              />
            </picture>
          </div>
        </div>
        <div class="slider__arrows"></div>
      </div>
      <div class="btn-wrap">
        <button class="btn reserv-table" type="button" data-modal-open-table>
          Забронювати столик
        </button>
        <a class="link-btn link view-menu" href="./restaurant.html#menu"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>

<!-- Олександр -->
<!-- <picture>
                <source srcset="./images/room-pages/bg/bg-rooms-2-dt.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-2-dt_2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-2-tab.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-2-tab_2x.webp 2x"
                    media="(min-width: 1024px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-2-mob.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-2-mob_2x.webp 2x"
                    media="(min-width: 414px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-2-dt.jpg 1x,
                    ./images/room-pages/bg/bg-rooms-2-dt_2x.jpg 2x" media="(min-width: 1280px)" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-2-tab.jpg 1x, 
                                                                            ./images/room-pages/bg/bg-rooms-2-tab_2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-2-mob.jpg 1x, 
                                                                            ./images/room-pages/bg/bg-rooms-2-mob_2x.jpg 2x"
                    media="(min-width: 414px)" />
                <img src="./images/room-pages/bg/bg-rooms-2-dt.jpg" alt="фото готельного номера" class="img" />
            </picture> -->
