
//   ----------------Слайдер swiper в секції hotel-rooms на сторінці hotel-page----------------------
.hotel-rooms__slider.swiper {
	// ширина слайдера
	width: 404px;
	margin: 0;
	margin-bottom: 20px; 

	@media screen and (max-width: 1024px) {
		left: -135px;
	}

	@include tablet {
		// ширина слайдера
		width: 428px;
	}
	@include desktop {
		// ширина слайдера
		width: 548px;
	}
}

// .hotel-rooms__item:nth-child(2n) .hotel-rooms__slider.swiper {
// 	@media screen and (max-width: 1024px) {
// 		right: 135px;
// 	}
// }

// Стрілки слайдера
.swiper-btn__prev,
.swiper-btn__next {
	width: 32px;
	height: 32px;
	bottom: 0;
	
}
// При ховері стрілка змінює колір на акцентний #f3c653;
.swiper-btn__prev:hover .icon-arrow,
.swiper-btn__next:hover .icon-arrow {
	fill: $accent-color;
}

// Позиціонування стрілок слайдера
.swiper-btn__list {
	position: relative;
	display: flex;
	gap: 32px;
	width: 96px;

	@media screen and (max-width: 1023px){
		left: 135px;
	}

	@include tablet {
		margin-left: auto;
	}

}

// Для кожної другої номеру в секції (Двомісний номер)
// міняємо розташування стрілок слайдера
.hotel-rooms__item:nth-child(2n) .swiper-btn__list {
	margin: 0;
  }

// Контейнер для слайдів
.hotel-rooms__slider .swiper-wrapper {
	margin-bottom: 20px;
}
