<div class="backdrop is-hidden" data-modal-room>
    <div class=" modal modal-room">
      <button class="close" type="button" data-modal-close-room>
        <!-- <svg class="btn__icon" aria-label="Закрити вікно" width="11" height="11">
          <use href="./images/symbol-defs.svg#icon-cross"></use>
        </svg> -->
      </button>
      <h2 class="modal-title">Забронювати номер</p>
      <form class="modal-form">
        <ul class="list form-list">
          <li class="form-list-item">
            <input class="input-form" type="text" name="name" id="name" placeholder="Ваше ім’я">
            <label class="form-label" for="user-name">На кого забронювати номер?</label>
          </li>
          <li class="form-list-item">
            <div class="input-wrap">
              <input class="input-form" type="tel" name="tel" id="tel" placeholder="+38 (___) ___-__-__"
          pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" title="+38 (___) ___-__-__">
            </div>
            <label class="form-label" for="user-phone">Номер телефону</label>
          </li>
        </ul>
        <ul class="list form-list">
          <li class="form-list-item">
            <div class="select">
              <select id="category" name="category">
                <option value="Двомісний люкс" selected>Двомісний люкс</option>
                <option value="Трьохмісний люкс">Трьохмісний люкс</option>
              /select>
            </div>
            <label class="form-label" for="category">Категорія номеру</label>
          </li>
          <li class="form-list-item">
            <div class="select">
              <select id="data" name="data-arrive">
                option value="Сьогодні" selected>Сьогодні</option>
                <option value="Завтра">Завтра</option>
              </select>
            </div>
            <label class="form-label" for="data">Дата заїзду</label>
          </li>
          <li class="form-list-item">
            <div class="select">
              <select id="data" name="data-exit">
                <option value="Сьогодні" selected>Сьогодні</option>
                <option value="Завтра">Завтра</option>
              </select>
            </div>
            <label class="form-label" for="data">Дата виїзду</label>
          </li>
        </ul>

        <button class="big-btn submit" type="submit">Оформити бронювання</button>
      </form>
    </div>
</div>