.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  @extend %transition;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
// .modal {

//   transform: scale(1) perspective(600px) rotateX(0);
//   transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) ;
// }
.book-room-modal {
  // display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 414px;
  height: 780px;

  margin-left: auto;
  margin-right: auto;

  background-color: #f0ecd6;

  @media screen and (min-width: 1024px) {
    width: 712px;
    height: 638px;
  }
}
.book-room-modal__container {
  width: 414px;
  height: 780px;
  padding: 60px 15px;

  @media screen and (min-width: 1024px) {
    padding: 60px 60px;
    width: 712px;
    height: 638px;
  }
}

.form-book-room__title {
  margin-top: 0;
  margin-bottom: 40px;

  text-align: center;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: 1.15;
  }
}
.user-form-wrap,
.select-form-wrap,
.select-date-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    flex-wrap: nowrap;
  }
}
.select-form-wrap {
  margin-bottom: 20px;
  @media screen and (min-width: 1024px) {
    justify-content: end;
  }
}
.select-date-wrap {
  margin-bottom: 40px;
}
.form-field {
  position: relative;
}
.form__label {
  display: block;
  padding-top: 8px;
  margin-left: 12px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  color: #c79002;
}
.form-room__input {
  width: 384px;
  height: 54px;
  padding: 14px 12px;

  font-family: 'Times New Roman';

  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #808080;
  background-color: #f0ecd6;
  border: 1px solid #c79002;
  border-radius: 2px;
  outline: 0px solid #c79002;

  transform: outline, border;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1024px) {
    width: 286px;
    height: 64px;
  }
}
.form-room__input:focus,
.form-room__input:hover {
  outline: 2px solid #c79002;
}

.form__label--date {
  font-size: 16px;
  line-height: 1.25;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-icon {
  position: absolute;
  top: 22px;
  right: 17px;

  pointer-events: none;

  transform: fill;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1024px) {
    top: 27px;
    right: 22px;
  }
}
.form-room__input:focus + .select-icon,
.form-room__input:hover + .select-icon {
  fill: #c79002;
}

.btn-close {
  position: absolute;
  right: 16px;
  top: 16px;

  width: 18px;
  height: 18px;

  background-image: url(../images/icon-x.svg);
  background-size: contain;
  border: none;
  background-color: transparent;
}
