* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.modal {
    outline: 1px solid #C79002;
    width: 414px;
    height: 572px;
    background: #FFFDEE;
    padding: 60px 15px;
    position: relative;

    @media screen and (min-width: 1024px) {
        width: 712px;
        height: 489px;
        padding: 60px;
    }
}

.close-modal {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* border: 1.5px solid #000000; */
    /* background: #D9D9D9; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

}

/* .social-icons__icon {} */

.price-title {
    margin-bottom: 40px;
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.15;

    @media screen and (min-width: 1024px) {
        font-size: 32px;
    }


}

.room {
    margin-bottom: 28px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #808080;
}

.category {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #C79002;

}



.modal-room {

    display: flex;
    flex-direction: column;
    margin-bottom: 40px;


    @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
    }


}

.modal-input:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.modal-input {

    display: flex;
    flex-direction: column;
    width: 384px;


    @media screen and (min-width: 1024px) {
        width: 288px;
    }

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #808080;

}

.label-modal {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #C79002;
    margin-left: 30px;
}

.modal-input.arrow {
    position: relative;
}

.modal-input.arrow::after {
    @media screen and (min-width: 1024px) {
        position: absolute;
        top: 20px;
        right: 20px;
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        /* // тут потрібно прописати шлях до свгшки
        background: white; */
        pointer-events: none;
    }

}

.nights-value {
    height: 54px;
    margin-bottom: 8px;
    padding: 0 15px;
    background: #FFFDEE;
    border: 1px solid #F3C653;
    border-radius: 2px;
}




.monet-input {

    height: 54px;
    margin-bottom: 8px;
    padding: 0 15px;
    /* border: 1px solid #C79002; */
    background: #FFFDEE;
    border: 1px solid #F3C653;
    border-radius: 2px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #808080;

    @media screen and (min-width: 1024px) {
        height: 60px;
        padding: 0 12px;
    }
}

.monet-input:hover,
.monet-input:focus {
    border: 1px solid #C79002;
    outline: transparent;
}



.submit-button-box {
    text-align: center;
}



.submit {
    display: inline-block;
    padding: 18px 0;
    width: 384px;
    height: 64px;

    @media screen and (min-width: 1024px) {
        width: 592px;
    }


}