.price-room-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.price-room-modal .select-form-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-room-modal {
  // display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 414px;
  height: 572px;

  margin-left: auto;
  margin-right: auto;

  background-color: #f0ecd6;

  @media screen and (min-width: 1024px) {
    width: 712px;
    height: 489px;
  }
}
.price-room-modal__container {
  width: 414px;
  height: 572px;
  padding: 60px 15px;

  @media screen and (min-width: 1024px) {
    padding: 60px 60px;
    width: 712px;
    height: 489px;
  }
}

.price-room-modal__title {
  margin-top: 0;
  margin-bottom: 40px;

  text-align: center;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: 1.15;
  }
}

// .price-room-table .select-form-wrap {
//   margin-bottom: 40px;
// }

.price-room__input {
  width: 384px;
  height: 54px;
  padding: 14px 12px;

  font-family: 'Times New Roman';

  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #808080;
  background-color: #f0ecd6;
  border: 1px solid #c79002;
  border-radius: 2px;
  outline: 0px solid #c79002;

  transform: outline, border;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1024px) {
    width: 286px;
    height: 64px;
  }
}
.price-room__input:focus,
.price-room__input:hover {
  outline: 2px solid #c79002;
}

.price-room__input:focus + .select-icon,
.price-room__input:hover + .select-icon {
  fill: #c79002;
}
