<section class="amenities">
  <h2 class="amenities__title">зручності у номері</h2>
  <p class="amenities__text amenities__text-title">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="amenities__list">
    <li>
      <h3 class="amenities__subtitle">загальні</h3>
      <div class="amenities__text-box">
        <p class="amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="amenities__text amenities__2text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </li>
    <li>
      <h3 class="amenities__subtitle">ванна кімната</h3>
      <div class="amenities__text-box">
        <p class="amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="amenities__text amenities__2text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </li>
    <li>
      <h3 class="amenities__subtitle">спальня</h3>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </li>
    <li>
      <h3 class="amenities__subtitle">кухня</h3>
      <div class="amenities__text-box">
        <p class="amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <p class="amenities__text amenities__2text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </div>
    </li>
    <li>
      <h3 class="amenities__subtitle">медіа</h3>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </li>
  </ul>
  <nav class="amenities__nav">
    <button type="button" class="amenities__btn">
      <span class="amenities__btn-text"> оформити бронювання</span>
    </button>
    <a href="#" class="amenities__link"
      >Повернутися до перегляду номерів
      <svg class="amenities__icon">
        <use href="#"></use></svg
    ></a>
  </nav>
</section>
