<section class="amenities">
  <div class="container">
    <h2 class="amenities__title">Зручності у номері</h2>
    <p class="amenities__text amenities__text-title">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="list">
      <li>
        <h3 class="amenities__subtitle">Загальні</h3>
        <div class="amenities__text-box">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__text amenities__secondtext">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li>
        <h3 class="amenities__subtitle">Ванна кімната</h3>
        <div class="amenities__text-box">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__text amenities__secondtext">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li>
        <h3 class="amenities__subtitle">Спальня</h3>
        <p class="amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <h3 class="amenities__subtitle">Кухня</h3>
        <div class="amenities__text-box">
          <p class="amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities__text amenities__secondtext">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li>
        <h3 class="amenities__subtitle">Медіа</h3>
        <p class="amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="amenities__nav">
      <button type="button" class="amenities__btn big-btn">
        Оформити бронювання
      </button>
      <a href="./hotel.html" class="amenities__link link"
        >Повернутися до перегляду номерів
        <svg width="23" height="13" class="amenities__icon">
          <use href="./images/icon.svg#icon-back"></use></svg
      ></a>
    </div>
  </div>
</section>
