<section class=" container-room">
    <div class="rooms hero-slider">
        <div>
            <picture>
                <source srcset="./images/room-pages/bg/bg-rooms-1-dt.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-1-dt_2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-1-tab.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-1-tab_2x.webp 2x"
                    media="(min-width: 1024px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-1-mob.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-1-mob_2x.webp 2x"
                    media="(min-width: 414px)" type="image/webp" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-1-dt.jpg 1x, ./images/room-pages/bg/bg-rooms-1-dt_2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="./images/room-pages/bg/bg-rooms-1-tab.jpg 1x, 
                                                        ./images/room-pages/bg/bg-rooms-1-tab_2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="./images/room-pages/bg/bg-rooms-1-mob.jpg 1x, 
                                                        ./images/room-pages/bg/bg-rooms-1-mob_2x.jpg 2x"
                    media="(min-width: 414px)" />
                <img src="./images/room-pages/bg/bg-rooms-1-dt.jpg" alt="фото рецепцї" class="img" />
            </picture>
        </div>
        <div>
            <picture>
                <source srcset="./images/room-pages/bg/bg-rooms-2-dt.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-2-dt_2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-2-tab.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-2-tab_2x.webp 2x"
                    media="(min-width: 1024px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-2-mob.webp 1x, 
                                                        ./images/room-pages/bg/bg-rooms-2-mob_2x.webp 2x"
                    media="(min-width: 414px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-2-dt.jpg 1x,
                    ./images/room-pages/bg/bg-rooms-2-dt_2x.jpg 2x" media="(min-width: 1280px)" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-2-tab.jpg 1x, 
                                                                            ./images/room-pages/bg/bg-rooms-2-tab_2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-2-mob.jpg 1x, 
                                                                            ./images/room-pages/bg/bg-rooms-2-mob_2x.jpg 2x"
                    media="(min-width: 414px)" />
                <img src="./images/room-pages/bg/bg-rooms-2-dt.jpg" alt="фото готельного номера" class="img" />
            </picture>
        </div>
        <div>
            <picture>
                <source
                    srcset="./images/room-pages/bg/bg-rooms-3-dt.webp 1x, 
                                                                                        ./images/room-pages/bg/bg-rooms-3-dt_2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-3-tab.webp 1x, 
                                                                                        ./images/room-pages/bg/bg-rooms-3-tab_2x.webp 2x"
                    media="(min-width: 1024px)" type="image/webp" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-3-mob.webp 1x, 
                                                                                        ./images/room-pages/bg/bg-rooms-3-mob_2x.webp 2x"
                    media="(min-width: 414px)" type="image/webp" />
                <source srcset="./images/room-pages/bg/bg-rooms-3-dt.jpg 1x, 
                                                                        ./images/room-pages/bg/bg-rooms-3-dt_2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-3-tab.jpg 1x, 
                                                                        ./images/room-pages/bg/bg-rooms-3-tab_2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source
                    srcset="./images/room-pages/bg/bg-rooms-3-mob.jpg 1x, 
                                                                        ./images/room-pages/bg/bg-rooms-3-mob_2x.jpg 2x"
                    media="(min-width: 414px)" />
                <img src="./images/room-pages/bg/bg-rooms-3-dt.jpg" alt="фото ванної кімнати" class="img" />
            </picture>
        </div>
    </div>
    <div class="room__info">
        <h1 class="room__title"><span class="room__subtitle">Двомісний номер</span> люкс</h1>
        <p class="room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis
            enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="room__contact">
            <address class="room__address">
                <a class="room__address-link link" href="#" target="_blank" rel="noopener noreferrer nofollow"><svg
                        class="room__address-icon" width="24" height="24">
                        <use href="./images/icon.svg#icon-point"></use>
                    </svg>Україна,
                    м.
                    Полтава,
                    <br />
                    вул. Маршала Бірюзова, 15</a>
            </address>
            <ul class="room__soc-list list">
                <li class="room__soc-item">
                    <a href="" class="room__soc-link ">
                        <svg class="room__soc-icon" width="24" height="24">
                            <use href="./images/icon.svg#icon-instagram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="room__soc-item">
                    <a href="" class="room__soc-link ">
                        <svg class="room__soc-icon" width="24" height="24">
                            <use href="./images/icon.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="room__soc-item">
                    <a href="" class="room__soc-link ">
                        <svg class="room__soc-icon" width="24" height="24">
                            <use href="./images/icon.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn room__btn">Переглянути ціни</button>
</section>