<footer class="footer-section">
  <div class="footer container">
    <div class="logo-container">
      <a href="./index.html" class="link logo footer__logo">mimiho</a>
    </div>
    <div class="nav-social-container">
      <div class="footer-nav">
        <ul class="footer-nav__list list">
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./index.html">Головна</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./restaurant.html">Ресторан</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./hotel.html">Готель</a>
          </li>
        </ul>
      </div>
      <div class="social-icons">
        <ul class="social-icons__list list">
          <li class="social-icons__item">
            <a rel="noreferrer noopener nofollow" class="social-icons__link link" href="http://" target="_blank"
              ><span class="social-icons__text">Telegram</span>
              <svg width="24" height="24" class="social-icons__icon">
                <use href="./images/icon.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="social-icons__item">
            <a rel="noreferrer noopener nofollow" class="social-icons__link link" href="http://" target="_blank"
              ><span class="social-icons__text">Facebook</span>
              <svg width="24" height="24" class="social-icons__icon">
                <use href="./images/icon.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-icons__item">
            <a rel="noreferrer noopener nofollow" class="social-icons__link link" href="http://" target="_blank"
              ><span class="social-icons__text">Instagram</span>
              <svg width="24" height="24" class="social-icons__icon">
                <use href="./images/icon.svg#icon-instagram"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
