<header class="header">
    <div class="header__container container">
        <nav class="header__nav">
            <a href="./index.html" class="logo header__logo">Mimiho</a>
            <ul class="header__contacts contacts-list list">
                <li class="contacts-list__item">
                    <a href="./restaurant.html" class="contacts-list__title link">Ресторан</a>
                    <a href="tel:0955559533" class="contacts-list__tel link" target="_blank"
                        rel="nofollow noopener noreferrer">
                        <svg class="contacts-list__icon">
                            <use href="./images/icon.svg#icon-phone"></use>
                        </svg>
                        <span class="contacts-list__phone-number">095 555 95 33</span>
                    </a>
                </li>
                <li class="contacts-list__item">
                    <a href="./hotel.html" class="contacts-list__title link">Готель</a>
                    <div class="contacts-list__tel contacts-list__tel-long">
                        <a href="tel:0668491089" class="tel-long__link link" target="_blank"
                            rel="nofollow noopener noreferrer">
                            <svg class="contacts-list__icon">
                                <use href="./images/icon.svg#icon-phone"></use>
                            </svg>
                            <span class="contacts-list__phone-number">066 849 10 89</span>
                        </a>
                        <a href="tel:0672758540" class="tel-long__link link" target="_blank"
                            rel="nofollow noopener noreferrer">
                            <span class="contacts-list__phone-number">067 275 85 40</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <ul class="header-soc-list list">
            <li class="header-soc-list__item">
                <a href="#" class="header-soc-list__link link" target="_blank" rel="nofollow noopener noreferrer">
                    <svg class="header-soc-list__icon">
                        <use href="./images/icon.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-list__item">
                <a href="#" class="header-soc-list__link link" target="_blank" rel="nofollow noopener noreferrer">
                    <svg class="header-soc-list__icon">
                        <use href="./images/icon.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-list__item">
                <a href="#" class="header-soc-list__link link" target="_blank" rel="nofollow noopener noreferrer">
                    <svg class="header-soc-list__icon">
                        <use href="./images/icon.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>