.contacts__logo {
  color: $color-logo-dark;

  @include tablet {
    font-size: 64px;
  }

  @include desktop {
    color: $color-logo-gray;
  }
}

.contacts {
  padding: 36px 0 32px 0;
  background-color: $background-main-light;

  @include tablet {
    padding: 56px 0 40px 0;
  }

  @include desktop {
    padding: 56px 0 73px 0;
  }
}

.contacts__content {
  @include tablet {
    display: flex;
  }
}

.mimino-container {
  margin-bottom: 32px;

  @media screen and (min-width: 414px) and (max-width: 1023px) {
    width: 384px;
  }

  @include tablet {
    margin-right: 100px;
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: 108px;
  }
}

.contacts__title {
  margin-top: 12px;
  margin-bottom: 16px;

  @include font(15px, 1.2, 600, 0.02em);

  color: $color-text-about;

  @include mobile {
    @include font(16px, 1.25, 600, 0.02em);
  }

  @include tablet {
    margin-top: 8px;
    margin-bottom: 52px;
  }

  @include desktop {
    margin-top: 16px;
    margin-bottom: 40px;

    @include font(20px, 1.2, null, null);
  }
}

.mimino-address__item {
  @media screen and (min-width: 414px) and (max-width: 1023px) {
    display: flex;
    align-items: center;
  }
}

.mimino-address__item:not(:last-child) {
  margin-bottom: 16px;
}

.mimino-address__item:nth-child(1) {
  @include tablet {
    margin-bottom: 24px;
  }
}

.mimino-address__item:nth-child(2) {
  @include tablet {
    margin-bottom: 48px;
  }
}

.mimino-address__title {
  margin-bottom: 6px;
  @include font(18px, 1.2, 500, 0.02em);

  color: $color-text-tips;

  @include mobile {
    margin-bottom: 0;
    @include font(20px, 1.2, 500, 0.02em);
  }

  @include tablet {
    margin: 0;
    margin-bottom: 8px;
  }
}

.rest-title {
  @media screen and (min-width: 414px) and (max-width: 1023px) {
    margin-right: 22px;
  }
}

.hotel-title {
  @media screen and (min-width: 414px) and (max-width: 1023px) {
    margin-right: 54px;
  }
}

.mimino-address__link {
  display: inline-flex;
  align-items: center;
  padding: 8px;

  @include font(14px, 1.2, 400, 0.02em);

  color: $color-text-contacts;

  border: 0.5px solid $accent-color;
  border-radius: 2px;
  background-color: $backrground-hover-light;
}

.mimino-address__icon {
  margin-right: 8px;
  fill: $color-text-tips;
}

.tel-container {
  display: inline-flex;
  padding: 7px 8px 7px 8px;

  border: 0.5px solid $accent-color;
  border-radius: 2px;
  background-color: $backrground-hover-light;
}

.mimino-address__link--address {
  margin-left: auto;

  @include font(16px, 1.25, 400, 0.01em);

  @media screen and (max-width: 1023px) {
    max-width: 260px;
    padding: 8px 33px 8px 10px;
  }

  @include tablet {
    margin: 0;
  }
}

.tel-container .mimino-address__link {
  border: none;
  padding: 0;
}

// .tel-container .mimino-address__link:not(:last-child) {
//   margin-right: 16px;

//   @media screen and (max-width: 1023px) {
//     margin-right: 12px;
//   }
// }

.tel-container .mimino-address__link:not(:last-child) {
  margin-right: 11px;

  @include tablet {
    margin-right: 16px;
  }
}

.map-responsive {
  align-self: flex-end;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;

  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include mobile {
    width: 384px;
    height: 220px;
  }

  @include tablet {
    width: 535px;
    height: 412px;
  }

  @include desktop {
    width: 634px;
  }
}

.contacts__map {
  width: 100%;
  height: 100%;
}