// Вносить один з членів команди
// Стилі для backdrop, що з'являється при відкритті модалки
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	visibility: visible;
	transition-property: opacity, visibility;
	@extend %transition;

	&.is-hidden {
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		
		& .modal {
				transform: scale(0.1) rotateX(90deg);
			}
	}
}
