// Маленькі кнопки і посилання
// Загальні стилі для маленьких кнопок 
.btn {
    min-width: 236px;
    height: 48px;

    font-style: normal;
    @include font(16px, 1.25, 700, 0.02em);

    color: $accent-color;
    background-color: $backrground-btn-light;
    border: 2px solid $border-light-color;
    border-radius: 25px;

    transition-property: background-color;
	@extend %transition;

    &:hover,
    &:focus {
        background-color: $backrground-hover-light;
    }
}

// Додаткові стилі для чорних кнопок (для чорних кнопок використовувати класи btn i dark-btn разом)
.dark-btn {
    background-color: $backrground-btn-dark;
    border: 2px solid $border-dark-color;

    transition-property: background-color, border-color;
	@extend %transition;

    &:hover,
    &:focus {
        background-color: $backrground-hover-light;
        border-color: $accent-color;
    }
}

// Посилання у вигляді кнопок
// Посилання у вигляді чорної кнопки з написом "Детальніше" (використовувати клас link-btn разом з класом link)
.link-btn {
    display: block;
    max-width: 236px;
    height: 48px;
    padding: 14px 65px;

    font-style: normal;
    @include font(16px, 1.25, 700, 0.02em);

    color: $accent-color;
    background-color: $backrground-btn-dark;
    border: 2px solid $border-dark-color;
    border-radius: 25px;

    transition-property: background-color, border-color;
	@extend %transition;

    &:hover,
    &:focus {
        background-color: $backrground-hover-light;
        border-color: $accent-color;
    }
}

// Посилання у вигляді прозорої кнопки з написом "Переглянути меню" (використовувати клас link-btn разом з класом link)
.link-light-btn {
    display: block;
    max-width: 236px;
    height: 48px;
    padding: 14px 65px;

    font-style: normal;
    @include font(16px, 1.25, 700, 0.02em);

    color: $accent-color;  
    background-color: $backrground-btn-light;
    border: 2px solid $border-light-color;
    border-radius: 25px;

    transition-property: background-color;
	@extend %transition;

    &:hover,
    &:focus {
        background-color: $backrground-hover-light;
    }
}

// Великі кнопки
// Загальні стилі для великих кнопок
.big-btn {
    width: 100%;
    height: 64px;

    font-style: normal;
    @include font(16px, 1.22, 500, null);
    text-transform: uppercase;

    color: $big-btn-text-color;
    background-color: $backrground-btn-dark;

    border: 1px solid $accent-color;
    border-radius: 25px;

    transition-property: color, background-color;
	@extend %transition;

    @include mobile {
        @include font(20px, 1.2, null, null);
    }

    @include tablet {
        min-width: 434px;
        @include font(24px, 1.2, null, null);
    }

    &:hover, 
    &:focus {
        color: $big-btn-hover-color;
        background-color: $accent-color;
    }
}

// Додаткові стилі для кнопок в модалках (в модадках використовувати класи big-btn i submit разом)
.submit {
border-radius: 2px;

@include tablet {
    min-width: 592px;
}
}
