// Вносить один з членів команди
// Загальні стилі для контейнера

.container {
  min-width: 320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    max-width: $mobile;
  }
  @include tablet {
    max-width: $tablet;
    padding: 0 47px;
  }
  @include desktop {
    max-width: $desktop;
    padding: 0 85px;
  }
}
