// Вносить один з членів команди
// Загальні стилі для logo
.logo {
  font-family: $film-font;
  @include font(64px, 1.08, 700, 0.3em);
}


// тимчасово закоментований колір, поки змінні в роботі
// Стилі для logo у header-і
.header__logo {
  @include font(40px, 1.08, 700, 0.3em);
  //   color: $header-logo-color;
}

// Стилі для logo у footer-і
.footer__logo {
  color: $accent-color;
}

// Стилі для logo у section (колір замінити на змінну, коли вони будуть готові)
.section-logo {
  color: #494848;
}
