<section class="hotel-rooms">
	<h1 visualy hidden>Кімнати готелю Міміно </h1>
	<ul class="rooms__list list">
		<!-- Кожна li - це окрема кімната в списку -->
		<!-- Двомісна кімната люкс -->
	  <li class="rooms__item ">
		<div class="container rooms__container">
		  <div class="rooms__wrap-top">
			<div class="rooms__desc-wrap">
			  <p class="rooms__subtitle subtitle">Amet minim mollit non</p>
			  <p class="rooms__hotel-logo logo">Mimiho</p>
			  <h2 class="rooms__title">
				Двомісний номер &#32;<span class="rooms__title-low">люкс</span>
			  </h2>
			  <p class="rooms__desc">
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
				sint. Velit officia consequat duis enim velit mollit. Exercitation
				veniam consequat sunt nostrud amet
			  </p>
			</div>

			<!-- Картинка Двомісний люкс -->
			<picture class="rooms__img-wrap">
			<!-- Картинка кімнати для desktop -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-dt.webp 1x,
			   ./images/hotel-page/jpg/jpg-apartment-dt_2x.webp 2x "
			
			media="(min-width: 1280px)"
			type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-dt.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-dt_2x.jpg 2x "
		  
		   media="(min-width: 1280px)"
		   type="image/jpeg"
			  />

			  <!-- Картинка кімнати для tablet -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-tab.webp 1x,
			  ./images/hotel-page/jpg/jpg-apartment-tab_2x.webp 2x "
		   
		   media="(min-width: 1024px)"
		   type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-tab.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-tab_2x.jpg 2x "
		   
		   media="(min-width: 1024px)"
		   type="image/jpeg"
			  />

			  <!-- Картинка кімнати для mobile -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-mob.webp 1x,
			  ./images/hotel-page/jpg/jpg-apartment-mob_2x.webp 2x "
		  
		   media="(min-width: 414px)"
		   type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-mob.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-mob_2x.jpg 2x "
		  
		   media="(min-width: 414px)"
		   type="image/jpeg"
			  />

			  <img class="rooms__img"
				src="./images/hotel-page/jpg/jpg-apartment-dt.jpg"
				alt="Двомісна кімната люкс"
			  />
			</picture> 
		  </div>
		  <!-- flex-обгортка для позиціонування слайдеру і кнопок Детальніше, Перегляд номерів -->

		  <div class="rooms__wrap-bottom">

			<!-- обгортка для слайдера -->
			<div class="rooms__slider-wrap">
				<!-- СЛАЙДЕР -->
				<div class="rooms__slider-luxe">
					<!-- Картинка #23 -->
					<div class="rooms__slider-item">
						<picture>
							<!-- Десктоп -->
						<source
						srcset="./images/section-sliders/desktop/img-23-dt.webp 1x,
						 ./images/section-sliders/desktop/img-23-dt_2x.webp 2x"
						
						media="(min-width: 1280px)"
						type="image/webp"
					  />

					  <source
						  srcset="./images/section-sliders/desktop/img-23-dt.jpg 1x,
						  ./images/section-sliders/desktop/img-23-dt_2x.jpg 2x"
						 
						  media="(min-width: 1280px)"
						  type="image/jpeg"
						/>

						<!-- Картинка для таблет і мобайл -->
						<source
						srcset="./images/section-sliders/tab/img-23-tab.webp 1x,
						 ./images/section-sliders/tab/img-23-tab_2х.webp 2x "
						  
						  media="(min-width: 320px)"
						  type="image/webp"
						/>
						<source
						srcset="./images/section-sliders/tab/img-23-tab.jpg 1x,
						 ./images/section-sliders/tab/img-23-tab_2х.jpg 2x "
						 
						  media="(min-width: 320px)"
						  type="image/jpeg"
						/>

                      <!-- Картинка по дефолту -->
					  <img
						  src="./images/section-sliders/desktop/img-23-dt.jpg"
						  alt="image"
						/>
						</picture>
					</div>

					<!-- Картинка #24-->
					<div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						<source
							srcset="./images/section-sliders/desktop/img-24-dt.webp 1x, 
							./images/section-sliders/desktop/img-24-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />

						<source
						srcset="
						./images/section-sliders/desktop/img-24-dt.jpg 1x, 
						./images/section-sliders/desktop/img-24-dt_2x.jpg 2x
						"
						
						media="(min-width: 1280px)"
						type="image/jpeg"
					  />

					    <!-- Картинка для таблет та мобайл -->
					  <source
					  srcset="./images/section-sliders/tab/img-24-tab.webp 1x, 
					  ./images/section-sliders/tab/img-24-tab_2х.webp 2x"
						
						media="(min-width: 320px)"
						type="image/webp"
					  />
					   
					  <source
					  srcset="./images/section-sliders/tab/img-24-tab.jpg 1x,
					   ./images/section-sliders/tab/img-24-tab_2х.jpg 2x"
						
						media="(min-width: 320px)"
						type="image/jpeg"
					  />

						  <!-- Картинка по дефолту -->
						  <img
						src="./images/section-sliders/desktop/img-24-dt.jpg"
						alt="image"
					  />
						</picture>
					</div>

					<!-- Картинка #1-->
				    <div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						  <source
							srcset="./images/section-sliders/desktop/img-1-dt.webp 1x, 
							./images/section-sliders/desktop/img-1-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="./images/section-sliders/desktop/img-1-dt.jpg 1x,
							./images/section-sliders/desktop/img-1-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						  <!-- Картинка для таблет та мобайл-->
						  <source
						  srcset="./images/section-sliders/tab/img-1-tab.webp 1x, 
						  ./images/section-sliders/tab/img-1-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-1-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-1-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-1-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #2 -->
					<div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						   <source
							srcset="./images/section-sliders/desktop/img-2-dt.webp 1x, 
							./images/section-sliders/desktop/img-2-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="
							./images/section-sliders/desktop/img-2-dt.jpg 1x, 
							./images/section-sliders/desktop/img-2-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		   
						   <!-- Картинка для таблет та мобайл  -->
						 <source
						  srcset="./images/section-sliders/tab/img-2-tab.webp 1x, 
						  ./images/section-sliders/tab/img-2-tab_2х.webp 2x"
						
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-2-tab.jpeg 1x,
						  ./images/section-sliders/tab/img-2-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-2-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #3 -->
				    <div class="rooms__slider-item">
						<picture>
							 <!-- Слайд для десктопу  -->
						   <source
							srcset="./images/section-sliders/desktop/img-3-dt.webp 1x, 
							./images/section-sliders/desktop/img-3-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="./images/section-sliders/desktop/img-3-dt.jpg 1x,
							 ./images/section-sliders/desktop/img-3-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						   <!-- Картинка для таблет та мобайл-->
						   <source
						  srcset="./images/section-sliders/tab/img-3-tab.webp 1x, 
						  ./images/section-sliders/tab/img-3-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-3-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-3-tab_2х.jpeg 2x"
						
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		
						   <img
							src="./images/section-sliders/desktop/img-3-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #10 -->
					<div class="rooms__slider-item">
						<picture>
							 <!-- Слайд для десктопу  -->
						  <source
							srcset="./images/section-sliders/desktop/img-10-dt.webp 1x, 
							./images/section-sliders/desktop/img-10-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="
							./images/section-sliders/desktop/img-10-dt.jpg 1x,
							 ./images/section-sliders/desktop/img-10-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						   <!-- Картинка для таблет та мобайл  -->
						  <source
						  srcset="./images/section-sliders/tab/img-10-tab.webp 1x,
						   ./images/section-sliders/tab/img-10-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-10-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-10-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-10-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>
				</div>

				<!-- Класс-обгортка для стрілок слайдеру -->
			    <div class="rooms__slider-luxe-arrow"></div>
			</div>
			
			  <!-- Кнопки Детальніше та Переглянути ціни -->
			<ul class="rooms__list-btn list">
			  <li class="rooms__item-btn">
				<a class="link link-btn rooms__btn" href="./room-luxe.html">Детальніше</a>
			  </li>
			  <li class="rooms__item-btn">
				<button class="btn dark-btn rooms__btn" data-modal-open-price-lux>Переглянути ціни</button>
			  </li>
			</ul>
		  </div>
		  
		</div>
	  </li>

	  <!-- Трьохмісна кімната -->	  
	  <li class="rooms__item ">
		<div class="container rooms__container">
		  <div class="rooms__wrap-top">
			<div class="rooms__desc-wrap">
			  <p class="rooms__subtitle subtitle">Amet minim mollit non</p>
			  <p class="rooms__hotel-logo logo" >Mimiho</p>
              
				<h2 class="rooms__title">Трьохмісний номер</h2>
			  <p class="rooms__desc">
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
				sint. Velit officia consequat duis enim velit mollit. Exercitation
				veniam consequat sunt nostrud amet
			  </p>
			
			  
			</div>

			<!-- Картинка Трьохмісний номер -->
			<picture class="rooms__img-wrap">
			<!-- Картинка кімнати для desktop -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-dt.webp 1x,
			   ./images/hotel-page/jpg/jpg-apartment-dt_2x.webp 2x "
	
			media="(min-width: 1280px)"
			type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-dt.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-dt_2x.jpg 2x "
		
		   media="(min-width: 1280px)"
		   type="image/jpeg"
			  />

			  <!-- Картинка кімнати для tablet -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-tab.webp 1x,
			  ./images/hotel-page/jpg/jpg-apartment-tab_2x.webp 2x "
		 
		   media="(min-width: 1024px)"
		   type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-tab.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-tab_2x.jpg 2x "
		 
		   media="(min-width: 1024px)"
		   type="image/jpeg"
			  />

			  <!-- Картинка кімнати для mobile -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-mob.webp 1x,
			  ./images/hotel-page/jpg/jpg-apartment-mob_2x.webp 2x "
		   
		   media="(min-width: 414px)"
		   type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-mob.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-mob_2x.jpg 2x "
		   
		   media="(min-width: 414px)"
		   type="image/jpeg"
			  />

			  <img class="rooms__img"
				src="./images/hotel-page/jpg/jpg-apartment-dt.jpg"
				alt="Двомісна кімната люкс"
			  />
			</picture> 
		  </div>
		 

		  <!-- flex-обгортка для позиціонування слайдеру і кнопок Детальніше, Переглянути ціни -->
		  <div class="rooms__wrap-bottom">
			<!-- обгортка для слайдера -->
			<div class="rooms__slider-wrap">
				<!-- СЛАЙДЕР -->
				<div class="rooms__slider">
					<!-- Картинка #23 -->
					<div class="rooms__slider-item">
						<picture>
							<!-- Десктоп -->
						<source
						srcset="./images/section-sliders/desktop/img-23-dt.webp 1x,
						 ./images/section-sliders/desktop/img-23-dt_2x.webp 2x"
						
						media="(min-width: 1280px)"
						type="image/webp"
					  />

					  <source
						  srcset="./images/section-sliders/desktop/img-23-dt.jpg 1x,
						  ./images/section-sliders/desktop/img-23-dt_2x.jpg 2x"
						  
						  media="(min-width: 1280px)"
						  type="image/jpeg"
						/>

						<!-- Картинка для таблет і мобайл -->
						<source
						srcset="./images/section-sliders/tab/img-23-tab.webp 1x,
						 ./images/section-sliders/tab/img-23-tab_2х.webp 2x "
						  
						  media="(min-width: 320px)"
						  type="image/webp"
						/>
						<source
						srcset="./images/section-sliders/tab/img-23-tab.jpg 1x,
						 ./images/section-sliders/tab/img-23-tab_2х.jpg 2x "
						 
						  media="(min-width: 320px)"
						  type="image/jpeg"
						/>

                      <!-- Картинка по дефолту -->
					  <img
						  src="./images/section-sliders/desktop/img-23-dt.jpg"
						  alt="image"
						/>
						</picture>
					</div>

					<!-- Картинка #24-->
					<div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						<source
							srcset="./images/section-sliders/desktop/img-24-dt.webp 1x, 
							./images/section-sliders/desktop/img-24-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />

						<source
						srcset="
						./images/section-sliders/desktop/img-24-dt.jpg 1x, 
						./images/section-sliders/desktop/img-24-dt_2x.jpg 2x
						"
						
						media="(min-width: 1280px)"
						type="image/jpeg"
					  />

					    <!-- Картинка для таблет та мобайл -->
					  <source
					  srcset="./images/section-sliders/tab/img-24-tab.webp 1x, 
					  ./images/section-sliders/tab/img-24-tab_2х.webp 2x"
						
						media="(min-width: 320px)"
						type="image/webp"
					  />
					   
					  <source
					  srcset="./images/section-sliders/tab/img-24-tab.jpg 1x,
					   ./images/section-sliders/tab/img-24-tab_2х.jpg 2x"
						
						media="(min-width: 320px)"
						type="image/jpeg"
					  />

						  <!-- Картинка по дефолту -->
						  <img
						src="./images/section-sliders/desktop/img-24-dt.jpg"
						alt="image"
					  />
						</picture>
					</div>

					<!-- Картинка #1-->
				    <div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						  <source
							srcset="./images/section-sliders/desktop/img-1-dt.webp 1x, 
							./images/section-sliders/desktop/img-1-dt_2x.webp 2x "
						
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="./images/section-sliders/desktop/img-1-dt.jpg 1x,
							./images/section-sliders/desktop/img-1-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						  <!-- Картинка для таблет та мобайл-->
						  <source
						  srcset="./images/section-sliders/tab/img-1-tab.webp 1x, 
						  ./images/section-sliders/tab/img-1-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-1-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-1-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-1-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #2 -->
					<div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						   <source
							srcset="./images/section-sliders/desktop/img-2-dt.webp 1x, 
							./images/section-sliders/desktop/img-2-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="
							./images/section-sliders/desktop/img-2-dt.jpg 1x, 
							./images/section-sliders/desktop/img-2-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		   
						   <!-- Картинка для таблет та мобайл  -->
						 <source
						  srcset="./images/section-sliders/tab/img-2-tab.webp 1x, 
						  ./images/section-sliders/tab/img-2-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-2-tab.jpeg 1x,
						  ./images/section-sliders/tab/img-2-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-2-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #3 -->
				    <div class="rooms__slider-item">
						<picture>
							 <!-- Слайд для десктопу  -->
						   <source
							srcset="./images/section-sliders/desktop/img-3-dt.webp 1x, 
							./images/section-sliders/desktop/img-3-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="./images/section-sliders/desktop/img-3-dt.jpg 1x,
							 ./images/section-sliders/desktop/img-3-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						   <!-- Картинка для таблет та мобайл-->
						   <source
						  srcset="./images/section-sliders/tab/img-3-tab.webp 1x, 
						  ./images/section-sliders/tab/img-3-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-3-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-3-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		
						   <img
							src="./images/section-sliders/desktop/img-3-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #10 -->
					<div class="rooms__slider-item">
						<picture>
							 <!-- Слайд для десктопу  -->
						  <source
							srcset="./images/section-sliders/desktop/img-10-dt.webp 1x, 
							./images/section-sliders/desktop/img-10-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="
							./images/section-sliders/desktop/img-10-dt.jpg 1x,
							 ./images/section-sliders/desktop/img-10-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						   <!-- Картинка для таблет та мобайл  -->
						  <source
						  srcset="./images/section-sliders/tab/img-10-tab.webp 1x,
						   ./images/section-sliders/tab/img-10-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-10-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-10-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-10-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>
				</div>

				<!-- Класс-обгортка для стрілок слайдеру -->
			    <div class="rooms__slider-arrow"></div>
			</div>

			  <!-- Кнопки Детальніше та Переглянути ціни -->
			<ul class="rooms__list-btn list">
				<li class="rooms__item-btn">
				  <a class="link link-btn rooms__btn" href="./room-for-three.html">Детальніше</a>
				</li>
				<li class="rooms__item-btn">
				  <button class="btn dark-btn rooms__btn" data-modal-open-price-lux>Переглянути ціни</button>
				</li>
			  </ul>
		  </div>
	  </li>

	  <!-- Двомісна кімната -->
	  <li class="rooms__item ">
		<div class="container rooms__container">
		  <div class="rooms__wrap-top">
			<div class="rooms__desc-wrap">
			  <p class="rooms__subtitle subtitle">Amet minim mollit non</p>
			  <p class="rooms__hotel-logo logo">Mimiho</p>
			  <h2 class="rooms__title">Двомісний номер</h2>
			  <p class="rooms__desc">
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
				sint. Velit officia consequat duis enim velit mollit. Exercitation
				veniam consequat sunt nostrud amet
			  </p>
			</div>

			<!-- Картинка Двомісний номер -->
			<picture class="rooms__img-wrap">
			<!-- Картинка кімнати для desktop -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-dt.webp 1x,
			   ./images/hotel-page/jpg/jpg-apartment-dt_2x.webp 2x "
			
			media="(min-width: 1280px)"
			type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-dt.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-dt_2x.jpg 2x "
		   
		   media="(min-width: 1280px)"
		   type="image/jpeg"
			  />

			  <!-- Картинка кімнати для tablet -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-tab.webp 1x,
			  ./images/hotel-page/jpg/jpg-apartment-tab_2x.webp 2x "
		   
		   media="(min-width: 1024px)"
		   type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-tab.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-tab_2x.jpg 2x "
		  
		   media="(min-width: 1024px)"
		   type="image/jpeg"
			  />

			  <!-- Картинка кімнати для mobile -->
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-mob.webp 1x,
			  ./images/hotel-page/jpg/jpg-apartment-mob_2x.webp 2x "
		  
		   media="(min-width: 414px)"
		   type="image/webp"
			  />
			  <source
			  srcset="./images/hotel-page/jpg/jpg-apartment-mob.jpg 1x,
			  ./images/hotel-page/jpg/jpg-apartment-mob_2x.jpg 2x "
		   
		   media="(min-width: 414px)"
		   type="image/jpeg"
			  />

			  <img class="rooms__img"
				src="./images/hotel-page/jpg/jpg-apartment-dt.jpg"
				alt="Двомісна кімната люкс"
			  />
			</picture> 
		  </div>
		  
		<!-- flex-обгортка для позиціонування слайдеру і кнопок Детальніше, Переглянути ціни -->
		  <div class="rooms__wrap-bottom">
			<!-- обгортка для слайдера -->
			<div class="rooms__slider-wrap">
				<!-- СЛАЙДЕР -->
				<div class="rooms__slider-two">
					<!-- Картинка #23 -->
					<div class="rooms__slider-item">
						<picture>
							<!-- Десктоп -->
						<source
						srcset="./images/section-sliders/desktop/img-23-dt.webp 1x,
						 ./images/section-sliders/desktop/img-23-dt_2x.webp 2x"
						
						media="(min-width: 1280px)"
						type="image/webp"
					  />

					  <source
						  srcset="./images/section-sliders/desktop/img-23-dt.jpg 1x,
						  ./images/section-sliders/desktop/img-23-dt_2x.jpg 2x"
						  
						  media="(min-width: 1280px)"
						  type="image/jpeg"
						/>

						<!-- Картинка для таблет і мобайл -->
						<source
						srcset="./images/section-sliders/tab/img-23-tab.webp 1x,
						 ./images/section-sliders/tab/img-23-tab_2х.webp 2x "
						  
						  media="(min-width: 320px)"
						  type="image/webp"
						/>
						<source
						srcset="./images/section-sliders/tab/img-23-tab.jpg 1x,
						 ./images/section-sliders/tab/img-23-tab_2х.jpg 2x "
						  
						  media="(min-width: 320px)"
						  type="image/jpeg"
						/>

                      <!-- Картинка по дефолту -->
					  <img
						  src="./images/section-sliders/desktop/img-23-dt.jpg"
						  alt="image"
						/>
						</picture>
					</div>

					<!-- Картинка #24-->
					<div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						<source
							srcset="./images/section-sliders/desktop/img-24-dt.webp 1x, 
							./images/section-sliders/desktop/img-24-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />

						<source
						srcset="
						./images/section-sliders/desktop/img-24-dt.jpg 1x, 
						./images/section-sliders/desktop/img-24-dt_2x.jpg 2x
						"
						
						media="(min-width: 1280px)"
						type="image/jpeg"
					  />

					    <!-- Картинка для таблет та мобайл -->
					  <source
					  srcset="./images/section-sliders/tab/img-24-tab.webp 1x, 
					  ./images/section-sliders/tab/img-24-tab_2х.webp 2x"
						
						media="(min-width: 320px)"
						type="image/webp"
					  />
					   
					  <source
					  srcset="./images/section-sliders/tab/img-24-tab.jpg 1x,
					   ./images/section-sliders/tab/img-24-tab_2х.jpg 2x"
						
						media="(min-width: 320px)"
						type="image/jpeg"
					  />

						  <!-- Картинка по дефолту -->
						  <img
						src="./images/section-sliders/desktop/img-24-dt.jpg"
						alt="image"
					  />
						</picture>
					</div>

					<!-- Картинка #1-->
				    <div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						  <source
							srcset="./images/section-sliders/desktop/img-1-dt.webp 1x, 
							./images/section-sliders/desktop/img-1-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="./images/section-sliders/desktop/img-1-dt.jpg 1x,
							./images/section-sliders/desktop/img-1-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						  <!-- Картинка для таблет та мобайл-->
						  <source
						  srcset="./images/section-sliders/tab/img-1-tab.webp 1x, 
						  ./images/section-sliders/tab/img-1-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-1-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-1-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-1-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #2 -->
					<div class="rooms__slider-item">
						<picture>
							<!-- Слайд для десктопу  -->
						   <source
							srcset="./images/section-sliders/desktop/img-2-dt.webp 1x, 
							./images/section-sliders/desktop/img-2-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="
							./images/section-sliders/desktop/img-2-dt.jpg 1x, 
							./images/section-sliders/desktop/img-2-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		   
						   <!-- Картинка для таблет та мобайл  -->
						 <source
						  srcset="./images/section-sliders/tab/img-2-tab.webp 1x, 
						  ./images/section-sliders/tab/img-2-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-2-tab.jpeg 1x,
						  ./images/section-sliders/tab/img-2-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-2-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #3 -->
				    <div class="rooms__slider-item">
						<picture>
							 <!-- Слайд для десктопу  -->
						   <source
							srcset="./images/section-sliders/desktop/img-3-dt.webp 1x, 
							./images/section-sliders/desktop/img-3-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="./images/section-sliders/desktop/img-3-dt.jpg 1x,
							 ./images/section-sliders/desktop/img-3-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						   <!-- Картинка для таблет та мобайл-->
						   <source
						  srcset="./images/section-sliders/tab/img-3-tab.webp 1x, 
						  ./images/section-sliders/tab/img-3-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-3-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-3-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		
						   <img
							src="./images/section-sliders/desktop/img-3-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>

					<!-- Картинка #10 -->
					<div class="rooms__slider-item">
						<picture>
							 <!-- Слайд для десктопу  -->
						  <source
							srcset="./images/section-sliders/desktop/img-10-dt.webp 1x, 
							./images/section-sliders/desktop/img-10-dt_2x.webp 2x "
							
							media="(min-width: 1280px)"
							type="image/webp"
						  />
		  
						  <source
							srcset="
							./images/section-sliders/desktop/img-10-dt.jpg 1x,
							 ./images/section-sliders/desktop/img-10-dt_2х.jpg 2x"
							
							media="(min-width: 1280px)"
							type="image/jpeg"
						  />
		  
						   <!-- Картинка для таблет та мобайл  -->
						  <source
						  srcset="./images/section-sliders/tab/img-10-tab.webp 1x,
						   ./images/section-sliders/tab/img-10-tab_2х.webp 2x"
							
							media="(min-width: 320px)"
							type="image/webp"
						  />
		  
						  <source
						  srcset="./images/section-sliders/tab/img-10-tab.jpeg 1x,
						   ./images/section-sliders/tab/img-10-tab_2х.jpeg 2x"
							
							media="(min-width: 320px)"
							type="image/jpeg"
						  />
		  
						  <img
							src="./images/section-sliders/desktop/img-10-dt.jpg"
							alt="image"
						  />
						</picture> 
					</div>
				</div>

				<!-- Класс-обгортка для стрілок слайдеру -->
			    <div class="rooms__slider-arrow-two"></div>
			</div>

			  <!-- Кнопки Детальніше та Переглянути ціни -->
			<ul class="rooms__list-btn list">
				<li class="rooms__item-btn ">
				  <a class="link link-btn rooms__btn" href="./room-for-two.html">Детальніше</a>
				</li>
				<li class="rooms__item-btn">
				  <button class="btn dark-btn rooms__btn" data-modal-open-price-lux>Переглянути ціни</button>
				</li>
			  </ul>
		  </div>
	  </li>

	</ul>
  </section>
