.footer-section {
    background-color: #0E0C07;
    padding-top: 40px;
    padding-bottom: 40px;
      @include tablet {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.footer {
display: flex;
align-items: center;
padding-left: 15px;
padding-right: 15px;
justify-content: space-between;
   
}

.logo-container {
@include mobile {
        min-width: 256px;
    }
    @include tablet {
        min-width: 504px;
           }
    @include desktop {
        min-width: 634px;
           }
}

.footer__logo {
    display: block;
    text-align: center;
    color:$accent-color ;
    @include font(40px, 1.075, 700, 0.3em);
    font-family: 'Film P3';
        @include tablet {
        font-size: 64px;
    }
}
.nav-social-container {
        @include mobile {
        min-width: 142px;
    }

        @include tablet {
        display: flex;
        }
}

.footer-nav {
     
@media screen and (max-width: 1023px) {
        margin-bottom: 33px;
    }
        @include tablet {
        min-width: 239px;
    }
        @include desktop {
        min-width: 300px;
    }
}

.footer-nav__item:not(:last-child) {
    margin-bottom: 16px;
}
.footer-nav__link {
    color: $accent-color;
    font-family: $montserrat-font;
    @include font(20px, 1.2, 500, 0.02em);
   }

.social-icons {
       @include mobile {
        min-width: 135px;
    }
         @include tablet {
            min-width: 259px;
         }
                  @include desktop {
                    min-width: 323px;
                  }
}

.social-icons__list {
       @media screen and (max-width: 1023px) {
            display: flex;
                gap: 23px;
        }
        @include tablet {
        flex-direction: column;
    }
}

.social-icons__item:not(:last-child) {
      @include tablet {
        margin-bottom: 12px;
        }
}

.social-icons__link {
    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 144px;
        height: 40px;
        padding-right: 10px;
        padding-left: 10px;
        border: 0.5px solid $accent-color;
        border-radius: 2px;
    }
}

.social-icons__text {
    display: none;
    color: $accent-color;
    font-family: 'Montserrat';
    @include font(16px, 1.2, 400, 0.02em);
    
    @include tablet {
        display: inline;
    }
}
.social-icons__icon {
    display: flex;
    fill: $accent-color;
}