.hero {
  padding: 181px 0 102px 0;
  text-align: center;

  @include tablet {
    padding: 188px 0 64px 0;
  }
  @include desktop {
    padding: 164px 0 65px 0;
  }
}

.overlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, $color-gradient, $color-gradient),
    url('../images/main-page/bg/bg-main-1-mob.jpg');
  @include retina2x {
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/main-page/bg/bg-main-1-mob_2x.jpg');
  }

  @include tablet {
    max-width: 1024px;
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/main-page/bg/bg-main-1-tab.jpg');
    @include retina2x {
      background-image: linear-gradient(
          to right,
          $color-gradient,
          $color-gradient
        ),
        url('../images/main-page/bg/bg-main-1-tab_2x.jpg');
    }
  }
  @include desktop {
    max-width: 1280px;
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/main-page/bg/bg-main-1-dt.jpg');
    @include retina2x {
      background-image: linear-gradient(
          to right,
          $color-gradient,
          $color-gradient
        ),
        url('../images/main-page/bg/bg-main-1-dt_2x.jpg');
    }
  }
}

.overlay__restaurant {
  background-image: linear-gradient(to right, $color-gradient, $color-gradient),
    url('../images/restaurant-page/bg/bg-rest-1-mob.jpg');
  @include retina2x {
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/restaurant-page/bg/bg-rest-1-mob_2x.jpg');
  }

  @include tablet {
    max-width: 1024px;
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/restaurant-page/bg/bg-rest-1-tab.jpg');
    @include retina2x {
      background-image: linear-gradient(
          to right,
          $color-gradient,
          $color-gradient
        ),
        url('../images/restaurant-page/bg/bg-rest-1-tab_2x.jpg');
    }
  }
  @include desktop {
    max-width: 1280px;
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/restaurant-page/bg/bg-rest-1-dt.jpg');
    @include retina2x {
      background-image: linear-gradient(
          to right,
          $color-gradient,
          $color-gradient
        ),
        url('../images/restaurant-page/bg/bg-rest-1-dt_2x.jpg');
    }
  }
}

.overlay__hotel {
  background-image: linear-gradient(to right, $color-gradient, $color-gradient),
    url('../images/hotel-page/bg/bg-hotel-mob.jpg');
  @include retina2x {
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/hotel-page/bg/bg-hotel-mob_2x.jpg');
  }

  @include tablet {
    max-width: 1024px;
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/hotel-page/bg/bg-hotel-tab.jpg');
    @include retina2x {
      background-image: linear-gradient(
          to right,
          $color-gradient,
          $color-gradient
        ),
        url('../images/hotel-page/bg/bg-hotel-tab_2x.jpg');
    }
  }
  @include desktop {
    max-width: 1280px;
    background-image: linear-gradient(
        to right,
        $color-gradient,
        $color-gradient
      ),
      url('../images/hotel-page/bg/bg-hotel-dt.jpg');
    @include retina2x {
      background-image: linear-gradient(
          to right,
          $color-gradient,
          $color-gradient
        ),
        url('../images/hotel-page/bg/bg-hotel-dt_2x.jpg');
    }
  }
}

.hero__container {
  position: relative;
}

.hero__title {
  width: 303px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-family: $film-font;
  @include font(96px, 1.07, 700, 0.3em);
  color: $color-logo-light;
  text-transform: uppercase;

  @include tablet {
    width: 404px;
    margin-bottom: 16px;
    font-size: 128px;
    line-height: 1.08;
  }
  @include desktop {
    margin-bottom: 32px;
  }
}

.hero__title-restaurant {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 16px;
  }
  @include desktop {
    margin-bottom: 32px;
  }
}

.hero__title-hotel {
  margin-bottom: 32px;
}

.hero__subtitle {
  width: 294px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-family: $montserrat-font;
  @include font(16px, 1.25, 600, 0.02em);
  color: $color-title-light;

  @include tablet {
    width: 368px;
    margin-bottom: 56px;
    @include font(20px, 1.2, null, null);
  }
  @include desktop {
    margin-bottom: 64px;
  }
}

.hero__subtitle-restaurant {
  margin-bottom: 44px;
  @include tablet {
    margin-bottom: 56px;
  }
  @include desktop {
    margin-bottom: 64px;
  }
}

.hero__subtitle-hotel {
  margin-bottom: 178px;

  @include tablet {
    margin-bottom: 226px;
  }
  @include desktop {
    margin-bottom: 249px;
  }
}

.hero__text {
  margin: 0 auto;
  margin-bottom: 113px;

  font-family: $times-font;
  @include font(32px, 1.16, 700, 0.05em);
  color: $color-title-light;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 145px;
    @include font(36px, 1.14, null, null);
  }
}

@media screen and (max-width: 1023px) {
  .hero__button {
    margin: 0 auto;
  }
  .hero__button-mobile-margin {
    margin-bottom: 24px;
  }
}

@include tablet {
  .hero__button-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }
}

.hero__address {
  position: absolute;
  bottom: 527px;
  right: 15px;

  display: flex;
  align-items: center;

  width: 210px;
  height: 47px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;

  @include tablet {
    top: 412px;
    left: 47px;

    width: 285px;
    height: 56px;
  }
  @include desktop {
    top: 436px;
    left: 85px;
  }
}

.hero__address-link {
  display: flex;
  align-items: center;
  text-align: start;
  font-family: $montserrat-font;
  @include font(12px, 1.25, null, 0.01em);
  color: $color-text-address;

  @include tablet {
    font-size: 16px;
  }
}

.hero__address-icon-mobile {
  margin-left: 6px;
  margin-right: 10px;
  fill: $color-text-links;
  @include tablet {
    display: none;
  }
}

.hero__address-icon-tablet {
  margin-left: 6px;
  margin-right: 10px;
  fill: $color-text-links;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    display: none;
  }
}

.hero__soc-wrap {
  position: absolute;
  top: 515px;

  @include tablet {
    top: 493px;
    left: 47px;
  }
  @include desktop {
    display: none;
  }
}

.hero__soc-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 112px;
  height: 24px;
}

.hero__soc-icon {
  fill: rgba(243, 198, 83, 0.7);
  transform: fill;
  @extend %transition;

  &:hover,
  &:focus {
    fill: $color-text-links;
  }
}
