    <section class="about-section section">
      <div class="about container">
        <!-- логотип та підзаголовок -->
        <h2 class="visually-hidden">About kitchen</h2>
        <p class="subtitle about__subtitle">Amet minim mollit non</p>
        <p class="about__logo logo">Mimiho</p>

        <!-- послідовніст картинок та тексту -->
        <ul class="list about-list">
          <li class="about-item">
            <p class="about-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="about-img first">
              <picture>
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-kitchen-dt.jpg    1x,
                    ./images/restaurant-page/jpg/jpg-kitchen-dt_2x.jpg 2x
                  "
                  sizes="460px"
                />
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-kitchen-dt.webp    1x,
                    ./images/restaurant-page/jpg/jpg-kitchen-dt_2x.webp 2x
                  "
                  type="image/webp"
                  sizes="460px"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-kitchen-tab.jpg    1x,
                    ./images/restaurant-page/jpg/jpg-kitchen-tab_2x.jpg 2x
                  "
                  sizes="400px"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-kitchen-tab.webp    1x,
                    ./images/restaurant-page/jpg/jpg-kitchen-tab_2x.webp 2x
                  "
                  type="image/webp"
                  sizes="400px"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-kitchen-mob.jpg    1x,
                    ./images/restaurant-page/jpg/jpg-kitchen-mob_2x.jpg 2x
                  "
                  sizes="244px"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-kitchen-mob.jpg    1x,
                    ./images/restaurant-page/jpg/jpg-kitchen-mob_2x.jpg 2x
                  "
                  type="image/webp"
                  sizes="244px"
                />
                <img
                  src="./images/restaurant-page/jpg/jpg-kitchen-mob.jpg"
                  alt="work at kitchen"
                  width="100%"
                />
              </picture>
            </div>
          </li>

          <li class="about-item">
            <p class="about-text about-text--gold">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="about-img last">
              <picture>
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-meat-dt.jpg    1x,
                    ./images/restaurant-page/jpg/jpg-meat-dt_2x.jpg 2x
                  "
                  sizes="460px"
                />
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-meat-dt.webp    1x,
                    ./images/restaurant-page/jpg/jpg-meat-dt_2x.webp 2x
                  "
                  type="image/webp"
                  sizes="460px"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-meat-tab.jpg    1x,
                    ./images/restaurant-page/jpg/jpg-meat-tab_2x.jpg 2x
                  "
                  sizes="350px"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-meat-tab.webp    1x,
                    ./images/restaurant-page/jpg/jpg-meat-tab_2x.webp 2x
                  "
                  type="image/webp"
                  sizes="350px"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-meat-mob.jpg    1x,
                    ./images/restaurant-page/jpg/jpg-meat-mob_2x.jpg 2x
                  "
                  sizes="200px"
                />
                <source
                  media="(min-width: 414px)"
                  srcset="
                    ./images/restaurant-page/jpg/jpg-meat-mob.jpg    1x,
                    ./images/restaurant-page/jpg/jpg-meat-mob_2x.jpg 2x
                  "
                  type="image/webp"
                  sizes="200px"
                />
                <img
                  src="./images/restaurant-page/jpg/jpg-meat-mob.jpg"
                  alt="meat"
                  width="100%"
                />
              </picture>
            </div>
          </li>
        </ul>
        <!------------------- сліп ------------------->
        <div class="about-slip">
        </div>
</section>