<section class="hero overlay overlay__restaurant">
  <div class="container hero__container">
    <h1 class="hero__title hero__title-restaurant">Mimiho</h1>
    <h2 class="hero__subtitle hero__subtitle-restaurant">Ресторан</h2>
    <p class="hero__text">Смак життя 24/7</p>

    <div class="hero__button-wrap">
      <button type="button" class="btn hero__button hero__button-mobile-margin">
        Забронювати столик
      </button>
      <button type="button" class="btn hero__button">Переглянути меню</button>
    </div>

    <address class="hero__address">
      <a
        class="hero__address-link link"
        href="https://goo.gl/maps/ithtjKm9xKE7jttB6"
        target="_blank"
        rel="noopener noreferrer nofollow"
        ><svg class="hero__address-icon-mobile" width="20" height="20">
          <use href="./images/icon.svg#icon-point"></use>
        </svg>
        <svg class="hero__address-icon-tablet" width="24" height="24">
          <use href="./images/icon.svg#icon-point"></use></svg
        >Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15</a
      >
    </address>

    <div class="hero__soc-wrap">
      <ul class="hero__soc-list list">
        <li class="hero__soc-item">
          <a
            class="link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hero__soc-icon" width="24" height="24">
              <use href="./images/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero__soc-item">
          <a
            class="link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hero__soc-icon" width="24" height="24">
              <use href="./images/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero__soc-item">
          <a
            class="link"
            href="#"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hero__soc-icon" width="24" height="24">
              <use href="./images/icon.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
