<section class="restaurant-menu" id="menu">
    <div class="container">
        <h2 class="restaurant-menu__header">Меню ресторану</h2>
        <div class="restaurant-menu__container">
            <div class="restaurant-menu__container--left">
                <!-- Гарячі страви -->
                <table class="dishes">
                    <caption class="dishes__type">Гарячі страви</caption>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Борщ з телятини з квасолею</h3>
                            <p class="dishes__ingredients">Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                                помідори, зелень, сметана</p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">240 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Суп сирний з куркою</h3>
                            <p class="dishes__ingredients">Курятина, картопля, морква, цибуля, печериці, сир м’який,
                                зелень</p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">200 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Паста карбонара</h3>
                            <p class="dishes__ingredients">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                            </p>
                        </td>
                        <td>
                            <p class="dishes__weight">350 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">430 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Стейк зі свинини</h3>
                            <p class="dishes__ingredients">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                                овочами
                            </p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">500 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding">
                            <h3 class="dishes__name">Горбуша в соусі з білого вина</h3>
                            <p class="dishes__ingredients">Ніжна горбуша, вершковий соус на основі білого вина</p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">400 грн</p>
                        </td>
                    </tr>
                </table>
                <!-- Гарніри та закуски -->
                <table class="dishes appetizers">
                    <caption class="dishes__type">Гарніри та закуски</caption>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Запечені овочі</h3>
                            <p class="dishes__ingredients">Кабачок, перець, помідор, баклажан</p>
                        </td>
                        <td>
                            <p class="dishes__weight">200 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">230 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Картопля фрі</h3>
                            <p class="dishes__ingredients">Картопля, соус томатний</p>
                        </td>
                        <td>
                            <p class="dishes__weight">150 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">160 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Картопля по-селянськи</h3>
                            <p class="dishes__ingredients">Картопля, спеції, соус пікантний</p>
                        </td>
                        <td>
                            <p class="dishes__weight">150 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">160 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Хрумкі соління з бочки</h3>
                            <p class="dishes__ingredients">Огірок солений, помідор квашений, квашена капуста, морква
                                по-корейські</p>
                        </td>
                        <td>
                            <p class="dishes__weight">250 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">350 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding">
                            <h3 class="dishes__name">Крильця курячі в медовому соусі</h3>
                            <p class="dishes__ingredients">Крильця курячі, гірчично-медовий соус, подається з морквою,
                                селерою і
                                соусом блючиз</p>
                        </td>
                        <td>
                            <p class="dishes__weight">400 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">420 грн</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <!-- Салати -->
                <table class="dishes salads">
                    <caption class="dishes__type">Салати</caption>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Цезар з куркою</h3>
                            <p class="dishes__ingredients">Куряче філе, листя салату, помідори чері, сир пармезан,
                                грінки, соус
                                цезар</p>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">450 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Цезар з креветками</h3>
                            <p class="dishes__ingredients">Тигрові креветки, листя салату, помідори чері, сир пармезан,
                                грінки,
                                соус цезар</p>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">300 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc">
                            <h3 class="dishes__name">Грецький салат</h3>
                            <p class="dishes__ingredients">Свіжі огірок, помідор, болгарський перець, оливки, сир
                                бринза, листя
                                салату, соус</p>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">280 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding">
                            <h3 class="dishes__name">М’ясний салат</h3>
                            <p class="dishes__ingredients">Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                                болгарський
                                перець, соус ранч</p>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">300 грн</p>
                        </td>
                    </tr>
                </table>
                <!-- Десерти -->
                <table class="dishes desserts">
                    <caption class="dishes__type">Десерти</caption>
                    <tr>
                        <td class="dishes__desc desserts__desc">
                            <h3 class="dishes__name desserts__name">Торт наполеон</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">300 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc desserts__desc">
                            <h3 class="dishes__name desserts__name">Торт маковий</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">230 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">300 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding desserts__desc">
                            <h3 class="dishes__name desserts__name">Тірамісу</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">120 г</p>
                        </td>
                        <td>
                            <p class="dishes__price">260 грн</p>
                        </td>
                    </tr>
                </table>
                <!-- Напої -->
                <table class="dishes drinks">
                    <caption class="dishes__type">Напої</caption>
                    <tr>
                        <td class="dishes__desc drinks__desc">
                            <h3 class="dishes__name drinks__name">Чай чорний/зелений</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">500 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">100 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc drinks__desc">
                            <h3 class="dishes__name drinks__name">Еспресо</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">30 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">100 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc drinks__desc">
                            <h3 class="dishes__name drinks__name">Американо</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">150 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">100 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc drinks__desc">
                            <h3 class="dishes__name drinks__name">Капучино</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">200 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">160 грн</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="dishes__desc dishes__desc--noPadding drinks__desc">
                            <h3 class="dishes__name drinks__name">Лате</h3>
                        </td>
                        <td>
                            <p class="dishes__weight">200 мл</p>
                        </td>
                        <td>
                            <p class="dishes__price">160 грн</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <button type="button" class="book-table btn dark-btn">Забронювати столик</button>
    </div>
</section>
